{% extends 'base.html' %}

{% block title %}تاریخچه نوبت های رزرو شده {{client}}{% endblock %}

{% block content %}
<div class="py-5 text-center">
  <img class="d-block mx-auto mb-4" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-todo-list/check1.webp" alt="" width="62" height="47">
  <h2>تاریخچه نوبت های رزرو شده {{client}}</h2>
</div>


<div class="row d-flex justify-content-center align-items-center h-100">
  <div class="col-md-12 col-xl-10">
    <div class="card mask-custom">
      <div class="card-body p-4 text-white">
      
          
          <div class="row g-3">





<table class="table table-bordered">
  <thead>
    <p>لیست نوبت ها  </p>

    <tr>
      <th scope="col">شماره نوبت دهی</th>
      <th scope="col">سرویس</th>
      <th scope="col">پزشک معالجه کننده</th>
      <th scope="col">وضعیت</th>
      <th scope="col">نام پکیح</th>
      <th scope="col">تاریخ</th>
      <th scope="col">اکشن</th>
    </tr>
  </thead>
  <tbody>
      {%for i in object_list%}
    <tr class="fw-normal">
      <td class="align-middle">
        <span>{{i.id}}</span>
      </td>
      <td class="align-middle">
          <span>{{i.service}}</span>
        </td>
        <td class="align-middle">
          <span>{{i.service.doctor}}</span>
        </td>
        <td class="align-middle">
          {%if i.status ==  "در انتظار" %}
          <span class="badge bg-info rounded-pill">در انتظار</span>
          {%elif i.status == "پذیرش شده" %}
          <span class="badge bg-success rounded-pill">پذیرش شده</span>
          {% else %}
          <span class="badge bg-danger rounded-pill">عدم مراجعه</span>
          {%endif%}
        </td>
        <td class="align-middle" >
          <span>{{i.package}}</span>
        </td>
        <td class="align-middle">
          <span>{{i.day}}</span>
        </td>
        <td class="align-middle">
          <span>
            <a href="{%url 'client:detail' i.client.id%}" class="btn btn-outline-success btn-sm">جزییات بیمار</a>
            {% if i.status == "در انتظار"%}
            <a href="{% url 'planner:session_delete' i.id%}" class="btn btn-outline-success btn-sm">لغو نوبت</a>
          {% endif %}

        </span>
        </td>
    </tr>
    {%endfor%}
    </tbody>
</table>


<table class="table table-bordered">
  <thead>
    <p>لیست نوبت های لغو شده</p>
    <tr>
      <th scope="col">شماره نوبت دهی</th>
      <th scope="col">سرویس</th>
      <th scope="col">پزشک معالجه کننده</th>
      <th scope="col">نام پکیح</th>
      <th scope="col">تاریخ</th>
    </tr>
  </thead>
  <tbody>
      {%for i in deleted_session%}
    <tr class="fw-normal">
      <td class="align-middle">
        <span>{{i.id}}</span>
      </td>
      <td class="align-middle">
          <span>{{i.service}}</span>
        </td>
        <td class="align-middle">
          <span>{{i.service.doctor}}</span>
        </td>

        <td class="align-middle" >
          <span>{{i.package}}</span>
        </td>
        <td class="align-middle">
          <span>{{i.day}}</span>
        </td>
    </tr>
    {%endfor%}
    </tbody>
</table>

</div></div>
</div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}
