{% extends 'base.html' %}

{% block title %}تاریخچه فاکتورهای {{client}}{% endblock %}

{% block content %}
<div class="py-5 text-center">
  <img class="d-block mx-auto mb-4" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-todo-list/check1.webp" alt="" width="62" height="47">
  <h2>تاریخچه فاکتورهای {{client}}</h2>
</div>


<div class="row d-flex justify-content-center align-items-center h-100">
  <div class="col-md-12 col-xl-10">
    <div class="card mask-custom">
      <div class="card-body p-4 text-white">
        <form class="table text-white mb-0" method="get">
          {%csrf_token%}
          
          <div class="row g-3">

            <div class="col-sm-6">
              <label for="date" class="form-label">تاریخ</label>
              <input  class="form-control" type="date" name="date" step="any" id="date" value="{{ request.GET.date }}" >
            </div>

            <div class="col-sm-6">
              <label for="date_range">محدوده زمانی</label>
              <select class="form-select" name="date_range" id="date_range">
                <option value="" selected>---------</option>
                <option value="today">امروز</option>
                <option value="this_week">هفته گذشته</option>
                <option value="this_month">ماه گذشته</option>
              </select>
            </div>


            <button class="w-100 btn btn-lg btn-outline-success" type="submit">جستجو</button>
          </form>


          <div class="mb-4">
            </div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">شماره فاکتور</th>
      <th scope="col">شماره پذیرش</th>
      <th scope="col">هزینه سرویس </th>
      <th scope="col">هزینه مواد مصرفی</th>
      <th scope="col">مبلغ کسر شده توسط بیمه</th>
      <th scope="col">مبلغ کل</th>
      <th scope="col">مبلغ نهایی</th>
      <th scope="col">وضعیت پرداخت</th>
      <th scope="col">تاریخ</th>
      <th scope="col">اکشن</th>
    </tr>
  </thead>
  <tbody>
      {%for i in object_list%}
    <tr class="fw-normal">
      <td class="align-middle">
        <span>{{i.id}}</span>
      </td>
      <td class="align-middle">
          <span>{{i.reception.id}}</span>
        </td>
        <td class="align-middle">
          <span>{{i.service_price}}</span>
        </td>
        <td class="align-middle">
          <span>{{i.consumable_price}}</span>
        </td>
        <td class="align-middle">
          <span>{{i.insurance_amount}}</span>
        </td>
        <td class="align-middle">
          <span>{{i.total_amount}}</span>
        </td>
          <td class="align-middle">
          <span>{{i.final_amount}}</span>
        </td>
                <td class="align-middle">
          <span>{{i.payment_status}}</span>
        </td>
                <td class="align-middle">
          <span>{{i.created_at.date}}</span>
        </td>

        <td class="align-middle">
          <span>
            <a href="{% url 'financial:detail' i.id %}" class="btn btn-outline-success btn-sm">جزییات</a>
        </span>
        </td>
    </tr>
    {%endfor%}
    </tbody>
</table>
</div>
</div>
</div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}
