{%extends 'base.html' %}
{% block title %}{{client}}{% endblock %}

{% block content%}
  <div class="container py-5">
    <div class="row">
      <div class="col">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="{{client.image.url}}" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">{{client.last_name}}{{client.first_name}}</h5>
            <p class="text-muted mb-1">{{client.national_id}}</p>
            <div class="d-flex justify-content-center mb-3">
              <a href="{% url 'reception:reception_create_using_profile' client.id %}" class="btn btn-primary btn-sm">ثبت پذیرش</a>
              <a href="{% url 'client:update' client.id %}" class="btn btn-outline-primary btn-sm ms-1">ویرایش</a>
              <a href="{% url 'client:edit_health_history' client.id %}" class="btn btn-outline-primary btn-sm ms-1">ویرایش سوابق بیماری</a>
              <a href="{%url 'notification:send_sms' client.id %}" class="btn btn-outline-primary btn-sm ms-1">ارسال پیام</a>
              <a href="#" data-toggle="modal" data-target="#exampleModal"  title="Delete" class="btn btn-outline-primary btn-sm ms-1">حذف</a>
          </div>
          
          </div>
        </div>

      <div class="card mb-4 mb-lg-0">
        <div class="card-body p-1">
          <ul class="list-group list-group-flush rounded-3">
            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
              <p> تعداد فاکتور های صادر شده: {{num_financial_instances}}</p>
          </li>
            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
              <p> مجموع پرداخت: {{total_amount_sum}}</p>
          </li>
            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
              <p> پذیرش ها: {{num_reception}}</p>
          </li>
            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
              <p> نسخه ها: {{num_prescriptions}}</p>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
              <p>پیامک های ارسال شده:  {{sms_count}}</p>
            </li>
          </ul>
        </div>
      </div>
    </div>


      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">شماره پرونده :</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{client.id}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">شماره پرونده دستی:</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{client.case_id}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">نام:</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{client.first_name}} {{client.last_name}}</p>
              </div>
            </div>

           
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">نام پدر:</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{client.fathers_name}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">تاریخ تولد:</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{client.date_of_birth}}</p>
              </div>
            </div>
            <hr>

            <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">شماره تماس:</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{client.phone_number}}</p>
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">آدرس:</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{client.address}}</p>
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">وضعیت تاهل:</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{client.marital_status}}</p>
                </div>
              </div>
              <hr>
 
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0"> vip:</p>
                </div>
                <div class="col-sm-9">
                  {%if client.is_vip%}
                  <p class="text-muted mb-0">بله٫  <a href="#" data-toggle="modal" data-target="#removevipModal" class="btn btn-outline-primary ms-1">خارج ساختن از حالت بیمار ویژه</a></p>
                  {%else%}
                  <p class="text-muted mb-0">خیر,  <a href="#" data-toggle="modal" data-target="#vipModal" class="btn btn-outline-primary ms-1">عضویت در بیماران ویژه</a></p>
                {%endif%}
                </div>
              </div>
              <hr>


              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">emergency_contact_name:</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{client.emergency_contact_name}}</p>
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">emergency_contact_number:</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{client.emergency_contact_number}}</p>
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">سابقه جراحی:</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{client.surgeries}}</p>
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">حساسیت:</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{client.allergies}}</p>
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">سوابق درمان:</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{client.medical_history}}</p>
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">سوابق دارویی:</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{client.medications}}</p>
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">استعمال دخانیات:</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{client.smoker}}</p>
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">بیماری:</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{client.disease}}</p>
                </div>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4"><span class="text-primary font-italic me-1">تاریخچه پذیرش</p>
                {% for i in reception_history %}
                <p class="mt-4 mb-1" style="font-size: .77rem;">{{i.id}}- {{i.reason}},<a href="{% url 'reception:detail' i.id %}">جزییات</a></p>
                {%empty%}
                <p class="mt-4 mb-1" style="font-size: .77rem;">یافت نشد</p>
                {%endfor%}
                <p><a href="{% url 'client:client-receptions' client.id %}">تاریخچه تمامی پذیرش های بیمار</a></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4"><span class="text-primary font-italic me-1">فاکتور های صادر شده</p>
                {% for i in financial_instances %}
                <p class="mt-4 mb-1" style="font-size: .77rem;">{{i.invoice_number}}, <a href="{% url 'financial:detail' i.id %}">جزییات</a> </p>
              {%empty%}
                <p class="mt-4 mb-1" style="font-size: .77rem;">یافت نشد</p>
                {%endfor%}
                <p><a href="{% url 'client:client-financial' client.id %}">تاریخچه تمامی پرداخت های بیمار</a></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4"><span class="text-primary font-italic me-1">تاریخچه پیامک های ارسال شده</p>
                {% for i in sms %}
                <p class="mt-4 mb-1" style="font-size: .77rem;">{{i.subject}}-{{i.status}}, <a href="#">جزییات</a> </p>
              {%empty%}
                <p class="mt-4 mb-1" style="font-size: .77rem;">یافت نشد</p>
                {%endfor%}
                <p><a href="#">تاریخچه تمام پیامک های ارسال شده به بیمار</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- DELETE MODALS -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">تایید حذف</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       بیمار یه طور کامل از سیستم پاک شود؟
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary" href="{% url 'client:delete' pk=client.pk %}" class="btn">تایید</a>
    </div>
    </div>
  </div>
</div>



<!-- VIP MODALS -->
<div class="modal fade" id="vipModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">تایید </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      بیمار وارد لیست بیماران ویژه شود؟
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary" href="{% url 'client:vip' pk=client.pk %}" class="btn">تایید</a>
    </div>
    </div>
  </div>
</div>


<!-- REMOVE VIP MODALS -->
<div class="modal fade" id="removevipModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">تایید </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      بیمار از لیست بیماران ویژه خارج شود؟
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary" href="{% url 'client:remove_vip' pk=client.pk %}" class="btn">تایید</a>
    </div>
    </div>
  </div>
</div>



<!-- jQuery (needed for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{%endblock%}