<p> Case id: {{client.case_id}}</p>
<p> Name: {{client.first_name}} {{client.last_name}}</p>
<p> Father's Name: {{client.fathers_name}}</p>
<p> National id: {{client.national_id}}</p>
<p>  Age: {{client.age}}</p>

<p> <a href="{% url 'client:edit_health_history' client.id%}">Edit Health History and Treatment</a></p>

<h1>Reception History</h1>
{% if not reception_history %}
    <p>No reception</p>
{% else %}
    {% for i in reception_history %}
        {{ i.id }}:{{ i.created_at }}:{{i.service}}
            <a href="{% url 'reception:detail' i.id %}">Detail</a>
            <a href="{% url 'reception:update' i.id %}">Update</a>
            <a href="{% url 'reception:delete' i.id %}">Delete</a> <br>
    {% endfor %}
{% endif %}
<a href="{% url 'reception:reception_create_using_profile' client.id %}">Add New Reception</a>



<!-- Display prescriptions -->
<h2>Prescriptions:</h2>
<ul>
{% for i in prescriptions %}
    <li>{{ i }}   
         <a href="{% url 'prescription:detail' i.id %}">Detail</a>
        <a href="{% url 'prescription:update' i.id %}">Update</a>
        <a href="{% url 'prescription:delete' i.id %}">Delete</a> <br>  </li>
{% empty %}
    <li>No prescriptions found.</li>
{% endfor %}
</ul>
