<p> Case id: {{client.case_id}}</p>
<p> Name: {{client.first_name}} {{client.last_name}}</p>
<p> Father's Name: {{client.fathers_name}}</p>
<p> National id: {{client.national_id}}</p>
<p> <a href="{% url 'client:edit_health_history' client.id%}">Edit Health History and Treatment</a></p>

<h1>Reception History</h1>
{% if not reception_history %}
    <p>No reception</p>
{% else %}
    {% for i in reception_history %}
        {{ i.id }}:{{ i.created_at }} <br>
    {% endfor %}
{% endif %}
<a href="{% url 'reception:reception_create_using_profile' client.id %}">Add New Reception</a>
