{%extends 'base.html' %}
{%block title %}ویرایش سوابق بیماری و درمانی {{object}}{%endblock%}

{%block content %} 
   
<div class="container">
    <main>
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-todo-list/check1.webp" alt="" width="62" height="47">
        <h2>ویرایش سوابق بیماری و درمانی {{object}}</h2>
      </div>

        <div class="col-md-7 col-lg-8">
          <h4 class="mb-3">اطلاعات</h4>
          <form class="needs-validation" method="post">
            {%csrf_token%}
            <div class="row g-3">
                <div class="row g-3">


                      <div class="col-sm-6">
                        <label for="allergies" class="surgeries-label">آلرژی</label>
                        <input type="text" class="form-control" id="surgeries" placeholder="" value="{{object.allergies}}" name="allergies" >
                      </div>

                      <div class="col-sm-6">
                        <label for="surgeries" class="surgeries-label">جراحی ها</label>
                        <input type="text" class="form-control" id="surgeries" placeholder="" value="{{object.surgeries}}" name="surgeries" >
                      </div>

                      <div class="col-sm-6">
                        <label for="medical_history" class="medical_history-label">تاریخچه پزشکی</label>
                        <input type="text" class="form-control" id="medical_history" placeholder="" value="{{object.medical_history}}" name="medical_history" >
                      </div>

                      <div class="col-sm-6">
                        <label for="medications" class="medications-label">داروها</label>
                        <input type="text" class="form-control" id="medications" placeholder="" value="{{object.medications}}" name="medications" >
                      </div> 
                      
                      <div class="col-sm-6">
                        <label for="smoker" class="smoker-label">استعمال دخانیات</label>
                        <input type="text" class="form-control" id="smoker" placeholder="" value="{{object.smoker}}" name="smoker" >
                      </div> 

                      <div class="col-sm-6">
                        <label for="disease" class="disease-label">بیماری</label>
                        <input type="text" class="form-control" id="disease" placeholder="" value="{{object.disease}}" name="disease" >
                      </div> 




            <button class="w-100 btn btn-lg btn-outline-success" type="submit">ویرایش</button>
          </form>
        </div>
      </div>
      <br><br>
      <br><br>

    </main>
</div>

{%endblock%}