{% extends 'base.html' %}
{% block title%}گالری تصاویر {{client}}{% endblock %}

{% block content %}
<form action="{% url 'client:delete_selected_images'  %}" method="post" id="deleteForm">
    {% csrf_token %}
    <button type="button" class="btn btn-success me-2" id="confirmDeleteBtn" style="display: none;">حذف</button> <!-- Delete button -->

<h2>گالری تصاویر {{client}}</h2>
<a href="{% url 'client:gallery_add' client.id %}">add</a>
<div class="container mt-5 mb-3">
    <div class="row">
      {% for image in images %}
      <div class="col-md-4">
        <div class="card p-3 mb-2">
          <img src="{{ image.image.url }}" class="card-img-top" alt="{{ image.title }}">
          <div class="card-body">
            <p class="card-text">{{ image.title }}</p>
            <p class="card-text"><a href="{%url 'client:gallery_update' client.id image.id %}"> update </a></p>
            <td><input type="checkbox" name="image_ids" value="{{ image.id }}"></td> <!-- Checkbox -->

          </div>
        </div>
      </div>
      {% endfor %}
      </form>
    </div>
  </div>


  <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">تایید حذف</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                imgest deleted???
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                <button type="button" class="btn btn-primary" id="confirmDelete">تایید</button>
            </div>
        </div>
    </div>
</div>

  <script>
    // Function to show delete button when checkboxes are selected
    document.querySelectorAll('input[type="checkbox"]').forEach(function(checkbox) {
        checkbox.addEventListener('change', function() {
            var checkedCheckboxes = document.querySelectorAll('input[type="checkbox"]:checked');
            if (checkedCheckboxes.length > 0) {
                document.getElementById('confirmDeleteBtn').style.display = 'inline-block';
            } else {
                document.getElementById('confirmDeleteBtn').style.display = 'none';
            }
        });
    });

    // Function to show modal when delete button is clicked
    document.getElementById('confirmDeleteBtn').addEventListener('click', function() {
        $('#deleteConfirmationModal').modal('show');
    });

    // Function to submit the form when confirm delete button in modal is clicked
    document.getElementById('confirmDelete').addEventListener('click', function() {
        $('#deleteForm').submit();
    });
</script>

  
  </section>
<!-- jQuery (needed for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}