{% extends 'base.html' %}
{% block title%}گالری تصاویر {{client}}{% endblock %}

{% block content %}
<h2>گالری تصاویر {{client}}</h2>
<a href="{% url 'client:gallery_add' client.id %}">add</a>
<div class="container mt-5 mb-3">
    <div class="row">
      {% for image in images %}
      <div class="col-md-4">
        <div class="card p-3 mb-2">
          <img src="{{ image.image.url }}" class="card-img-top" alt="{{ image.title }}">
          <div class="card-body">
            <p class="card-text">{{ image.title }}</p>
            <p class="card-text"><a href="{%url 'client:gallery_update' client.id image.id %}"> update </a></p>

          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  
{% endblock %}