<a href="{% url 'client:create' %}">پذیرش بیمار جدید</a><br>
<form action="" method="get">
    {%csrf_token%}
    {{filter.form.as_p}}
    <input type="submit">
</form>
{%for i in clients%}
  <p>  {{i.id}}.{{i.first_name}} {{i.last_name}},
      <a href="{% url 'client:detail' i.pk %}">Details</a>,
      <a href="{% url 'client:update' i.pk %}">Edit Personal Information</a>,
      <a href="{% url 'client:edit_health_history' i.pk %}">Edit Health History</a>,
      <a href="{% url 'client:delete' i.pk %}">Delete</a>
    </p>
{% endfor %}