<h2>Today's Appointment List</h2>
<form action="" method="get">
    {%csrf_token%}
    {{filter.form.as_p}}
    <input type="submit">
</form>
{%for i in appointments%}
  <p>  
    {%if i.client%}
      {{i.id}}.{{i.client}} {{i.package}}, {{i.service}},
      <a href="{% url 'booking:detail' i.pk %}">Details</a>,
      <a href="{% url 'booking:update' i.pk %}">Update</a>,
      <a href="{% url 'booking:delete' i.pk %}">Delete</a>,
      <a href="{% url 'reception:reception_create_using_profile' i.client.id %}">Recept  client</a>,

  </p>
  {%else%}
  {{i.id}}.{{i.client_name}} {{i.package}}, {{i.service}},
  <a href="{% url 'booking:detail' i.pk %}">Details</a>,
  <a href="{% url 'booking:update' i.pk %}">Update</a>,
  <a href="{% url 'booking:delete' i.pk %}">Delete</a>,
  <a href="{% url 'client:create'  %}">Create Profile </a>,
</p>
{%endif%}
{% endfor %}