{%extends 'base_create.html' %}
{%block title %}افزایش موجودی محصول {{consumable}}{%endblock%}
{%block form_title %}افزایش موجودی محصول {{consumable}}{%endblock%}

{%block fields %} 
<div class="col-sm-6">
<label for="quantity" class="form-label">تعداد</label>
<input type="number" class="form-control" id="quantity" placeholder="" value="{% if form.data.quantity %}{{ form.data.quantity }}{% else %}{{ form.initial.quantity }}{% endif %}" name="quantity" >
</div>

<div class="col-sm-6">
<label  for="supplier">تامین کننده:</label>
<select  class="form-select" name="supplier"  id="supplier">
<option value="" selected="">---------</option>
{% for i in form.supplier.field.queryset%}
<option value="{{i.id}}">{{i}}</option>
{%endfor%}
</select>
</div>

<div class="col-sm-6">
<label for="price" class="form-label">قیمت</label>
<input type="number" class="form-control" id="price" placeholder="" value="{% if form.data.price %}{{ form.data.price }}{% else %}{{ form.initial.price }}{% endif %}"  name="price" >
</div>

<div class="col-sm-6">
<label for="purchase_date" class="form-label">تاریخ خرید</label>
<input type="text" class="form-control" id="purchase_date" placeholder="" name="purchase_date" data-jdp>
</div>

<div class="col-sm-6">
<label for="purchase_cost" class="form-label">هزینه خرید</label>
<input type="number" class="form-control" id="purchase_cost" placeholder=""  value="{% if form.data.purchase_cost %}{{ form.data.purchase_cost }}{% else %}{{ form.initial.purchase_cost }}{% endif %}" name="purchase_cost" >
</div>

<div class="col-sm-6">
<label for="description" class="form-label">توضیحات</label>
<input type="text" class="form-control" id="description" placeholder="" value="{% if form.data.description %}{{ form.data.description }}{% else %}{{ form.initial.description }}{% endif %}"name="description" >
</div>

<div class="col-sm-6">
<label for="expiration_date" class="form-label">تاریخ انقضا</label>
<input type="date" class="form-control" id="expiration_date" placeholder="" value="{% if form.data.expiration_date %}{{ form.data.expiration_date }}{% else %}{{ form.initial.expiration_date }}{% endif %}" name="expiration_date" >
</div>
<div class="col-sm-6">
<label for="expiration_reminder" class="form-label">چند روز پیش از فرا رسیدن انقضا یادآوری انجام شود</label>
<input type="number" class="form-control" id="expiration_reminder" placeholder=""value="{% if form.data.expiration_reminder %}{{ form.data.expiration_reminder }}{% else %}{{ form.initial.expiration_reminder }}{% endif %}" name="expiration_reminder" >
</div>

<label class="form-label" for="customFile"> تصویر </label>
<input type="file" class="form-control" id="customFile" name="image" />
{%endblock%}