{% extends 'base_list.html' %}
{% block title %}لیست بیمه ها{% endblock %}
{%block list_title%}لیست بیمه ها{%endblock%}
{%block filter_field%}
<div class="col-sm-6">
  <label for="id" class="form-label">ID</label>
  <input  class="form-control" type="number" name="id" step="any" id="id"value="{{ request.GET.id }}" >
</div>

<div class="col-sm-6">
  <label for="name" class="form-label">نام</label>
  <input  class="form-control" type="text" name="name" step="any" id="name" value="{{ request.GET.name }}" >
</div>

<div class="col-sm-6">
  <label for="insurance_company" class="form-label">سازمان ارایه دهنده</label>
  <input  class="form-control" type="text" name="insurance_company" step="any" id="insurance_company" value="{{ request.GET.insurance_company }}" >
</div>


<div class="col-sm-6">
  <label for="policy_number" class="form-label">شماره بیمه</label>
  <input  class="form-control" type="text" name="policy_number" step="any" id="policy_number" value="{{ request.GET.policy_number }}" >
</div>



  <div class="col-sm-6">
    <label for="created_by_email" class="form-label">ایمیل ایجاد کننده
    </label>
    <input  class="form-control" type="text" name="created_by_email" step="any" id="created_by_email" value="{{ request.GET.created_by_email }}" >
  </div>

  <div class="col-sm-6">
    <label for="date" class="form-label">تاریخ</label>
    <input  class="form-control" type="date" name="date" step="any" id="date" value="{{ request.GET.date }}" >
  </div>

  <div class="col-sm-6">
    <label for="date_range">محدوده زمانی</label>
    <select class="form-select" name="date_range" id="date_range">
      <option value="" selected>---------</option>
      <option value="today">امروز</option>
      <option value="this_week">هفته گذشته</option>
      <option value="this_month">ماه گذشته</option>
    </select>
  </div>


{%endblock%}
{%block buttons%} 
<form action="{% url 'insurance:delete_selected_insurance' %}" method="post" id="deleteForm">
  {% csrf_token %}
<a href="{% url 'insurance:create' %}" class="btn btn-success me-2">ایجاد بیمه جدید</a>
<a href="{% url 'reports:insurance_reports' %}" class="btn btn-success me-2">گزارشات</a>
<button type="button" class="btn btn-success me-2" id="confirmDeleteBtn" style="display: none;">حذف</button> <!-- Delete button -->
{%endblock%}
{%block thead%}

<th scope="col"> </th>
<th scope="col">ID</th>
<th scope="col">نام</th>
<th scope="col">سازمان ارایه دهنده</th>
<th scope="col">شماره بیمه</th>
<th scope="col">اکشن ها</th>

{%endblock%}
{%block tbody%}
{%for i in insurance%}
<tr class="fw-normal">
  <td><input type="checkbox" name="insurance_ids" value="{{ i.id }}"></td> <!-- Checkbox -->

  <th>
    <span class="ms-2">{{i.id}}</span>
  </th>
  <td class="align-middle">
    <span>{{i.name}}</span>
  </td>
  <td class="align-middle">
      <span>{{i.insurance_company}}</span>
    </td>

    <td class="align-middle">
      <span>{{i.policy_number}}</span>
    </td>


  <td class="align-middle">
      <a href="{%url 'insurance:detail' i.id %}" data-mdb-toggle="tooltip" title="Detail"> <i class="fas fa-info-circle"></i></a>
      <a href="{%url 'insurance:update' i.id %}" data-mdb-toggle="tooltip" title="Update"><i class="fas fa-edit" ></i></a>
  </td>
</tr>
{%endfor%}
{%endblock%}
{%block delete_content%}
سرویس های انتخاب شده به طور کامل از سیستم حذف می شوند
{%endblock%}