{%extends 'base_create.html' %}
{%block title %}افزودن تصویر {%endblock%}
{%block form_title %}افزودن تصویر {%endblock%}

{%block fields %} 
                    <div class="w-100 col-sm-6">
                      <label for="title" class="form-label">عنوان تصویر</label>
                      <input type="text" class="form-control" id="title" placeholder="" value="{{object.title}}" name="title" >
                    </div>
                    <label class="form-label" for="customFile"> تصویر </label>
                    <input type="file" class="form-control" id="customFile" name="image" />
{%endblock%}