{% extends 'base.html' %}
{% block content %}
<h2>گالری تصاویر {{ client }}</h2>
<br>
<form action="{% url 'client:delete_selected_images'  client.id %}" method="post" id="deleteForm">
    {% csrf_token %}
    <a href="{% url 'client:gallery_add' client.pk  %}" class="btn btn-primary me-2">افزودن تصویر جدید</a>
    <button type="button" class="btn btn-primary me-2" id="confirmDeleteBtn" style="display: none;">حذف</button> 

<div class="container" style="margin-bottom: 10%; margin-top: 10%;">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for image in images %}
        <div class="col">
            <div class="card h-100">
                <img src="{{ image.image.url }}" class="card-img-top gallery-image"
                    alt="Hollywood Sign on The Hill" />
                <div class="card-body">
                    <h5 class="card-title"><input type="checkbox" name="image_ids" value="{{ image.id }}"> {{ image.title }}</h5>
                    <hr>
                    <a href="{% url 'client:gallery_update' client_pk=client.pk pk=image.pk %}" class="btn btn-primary me-2">ویرایش</a>
                    <button class="btn btn-primary me-2" onclick="openImage('{{ image.image.url }}', event)">نمایش تصویر </button>
                </div>
            </div>
        </div>
        {% endfor %}
    </form>
    </div>
</div>

<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">تایید حذف</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                imgest deleted???
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                <button type="button" class="btn btn-primary" id="confirmDelete">تایید</button>
            </div>
        </div>
    </div>
</div>

<script>
    // Function to show delete button when checkboxes are selected
    document.querySelectorAll('input[type="checkbox"]').forEach(function(checkbox) {
        checkbox.addEventListener('change', function() {
            var checkedCheckboxes = document.querySelectorAll('input[type="checkbox"]:checked');
            if (checkedCheckboxes.length > 0) {
                document.getElementById('confirmDeleteBtn').style.display = 'inline-block';
            } else {
                document.getElementById('confirmDeleteBtn').style.display = 'none';
            }
        });
    });

    // Function to show modal when delete button is clicked
    document.getElementById('confirmDeleteBtn').addEventListener('click', function() {
        $('#deleteConfirmationModal').modal('show');
    });

    // Function to submit the form when confirm delete button in modal is clicked
    document.getElementById('confirmDelete').addEventListener('click', function() {
        $('#deleteForm').submit();
    });

    function openImage(imageUrl, event) {
    event.preventDefault(); // Prevent form submission
    window.open(imageUrl);
}

</script>

</section>
<!-- jQuery (needed for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
