{%extends 'base.html' %}
{%block title %}تنظیمات سرویس {{object}}{%endblock%}

{%block content %} 
   
<div class="container">
    <main>
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-todo-list/check1.webp" alt="" width="62" height="47">
        <h2>تنظیمات سرویس {{object}}</h2>
      </div>

        <div class="col-md-7 col-lg-8">
          <h4 class="mb-3">اطلاعات</h4>
          <form class="needs-validation" method="post">
            {%csrf_token%}
            <div class="row g-3">
                <div class="row g-3">
                              <div class="col-sm-6">
                                <label for="appointment_per_day" class="form-label">ظرفیت رزرو نوبت در روز</label>
                                <input type="number" class="form-control" id="appointment_per_day" placeholder="" value="{{object.appointment_per_day}}" name="appointment_per_day" >
                              </div>



                              <div class="col-sm-6">
                                <label for="off_days">روزهای تعطیل:</label>
                                <select class="form-select" name="off_days" required="" id="off_days" multiple>
                                    <option value="">---------</option>
                                    {% for off_day in form.off_days.field.queryset %}
                                        {% if off_day in object.off_days.all %}
                                            <option value="{{ off_day.id }}" selected>{{ off_day }}</option>
                                        {% else %}
                                            <option value="{{ off_day.id }}">{{ off_day }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>


                            <div class="col-sm-6">
                              <label for="check_consumable_inventory">بررسی موجودی مواد مصرفی این سرویس در انبار :</label>
                              <select class="form-select" name="check_consumable_inventory" required="" id="check_consumable_inventory">
                                    {% if object.check_consumable_inventory%}
                                          <option value="true" selected>بله</option>
                                          <option value="false">خیر</option>
                                          {%else%}
                                          <option value="true" >بله</option>
                                          <option value="false" selected>خیر</option>
                                        {% endif %}
                              </select>
                          </div>



            <button class="w-100 btn btn-lg btn-outline-success" type="submit">ویرایش</button>
          </form>
        </div>
      </div>
      <br><br>
      <br><br>

    </main>
</div>

{%endblock%}