{%extends 'base_update.html' %}
{%block title %}افزایش قیمت دسته ای سرویس ها{%endblock%}
{%block form_title %}افزایش قیمت دسته ای سرویس ها{%endblock%}
{%block fields %} 
<div class=" w-100 col-sm-6">
<label for="services"> سرویس های مورد نظر را انتخاب نمایید:</label>
<select class="form-select" name="services" required="" id="services" multiple>
<option value="">---------</option>
{% for i in form.services.field.queryset %}
<option value="{{ i.id }}">{{ i }}</option>
{% endfor %}
</select>
</div>

<div class=" w-100 col-sm-6">
<label for="percentage_change" class="form-label">درصد افزایش قیمت</label>
<input type="number" class="form-control" id="percentage_change" placeholder="" value="{{object.percentage_change}}" name="percentage_change" >
</div>
{%endblock%} 