{%extends 'base_create.html' %}
{%block title %}تخصیص مواد مصرفی به سرویس{{object}}{%endblock%}
{%block form_title %}تخصیص مواد مصرفی به سرویس{{object}}{%endblock%}
{%block fields %} 
<div class="col-sm-6">
<label  for="consumable">مواد مصرفی:</label>
<select  class="form-select" name="consumable" required="" id="consumable">
<option value="" >---------</option>
{% for i in form.consumable.field.queryset%}
<option value="{{i.id}}">{{i}}</option>
{%endfor%}
</select>
</div>
<div class="col-sm-6">
<label for="dose" class="form-label">مقدار</label>
<input type="text" class="form-control" id="dose" placeholder="" value="{% if form.data.dose %}{{ form.data.dose }}{% else %}{{ form.initial.dose }}{% endif %}"name="dose" >
</div>
<div class="col-sm-6">
<label for="note" class="form-label">یادداشت</label>
<input type="text" class="form-control" id="note" placeholder="" value="{% if form.data.note %}{{ form.data.note }}{% else %}{{ form.initial.note }}{% endif %}" name="note" >
</div>
{%endblock%}