{%extends 'base.html' %}
{%block title %}ایجاد سرویس جدید{%endblock%}

{%block content %} 
   
<div class="container">
    <main>
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-todo-list/check1.webp" alt="" width="62" height="47">
        <h2>ایجاد سرویس جدید</h2>
      </div>

        <div class="col-md-7 col-lg-8">
          <h4 class="mb-3">اطلاعات</h4>
          <form class="needs-validation" method="post">
            {%csrf_token%}
            <div class="row g-3">
                <div class="row g-3">
                    <div class="col-sm-6">
                      <label for="name" class="form-label">نام سرویس</label>
                      <input type="text" class="form-control" id="name" placeholder="" value="{{object.name}}" name="name" >
                    </div>

                    <div class="col-sm-6">
                        <label  for="doctor">پزشک:</label>
                        <select  class="form-select" name="doctor" required="" id="doctor">
                          <option value="" selected="">---------</option>
                          {% for i in form.doctor.field.queryset%}
                          <option value="{{i.id}}">{{i}}</option>
                          {%endfor%}
                        </select>
                        </div>



                        <div class="col-sm-6">
                            <label for="description" class="form-label">توضیحات</label>
                            <input type="text" class="form-control" id="description" placeholder="" value="{{object.description}}" name="description" >
                          </div>
      

                          <div class="col-sm-6">
                            <label  for="category">دسته بندی:</label>
                            <select  class="form-select" name="category" required="" id="category">
                              <option value="" selected="">---------</option>
                              {% for i in form.category.field.queryset%}
                              <option value="{{i.id}}">{{i}}</option>
                              {%endfor%}
                            </select>
                            </div>
    
                            <div class="col-sm-6">
                                <label for="duration" class="form-label">مدت زمان</label>
                                <input type="number" class="form-control" id="duration" placeholder="" value="{{object.duration}}" name="duration" >
                              </div>
              
                              <div class="col-sm-6">
                                <label for="price" class="form-label">قیمت</label>
                                <input type="number" class="form-control" id="price" placeholder="" value="{{object.price}}" name="price" >
                              </div>

                              <div class="col-sm-6">
                                <label for="equipment_supplies" class="form-label">تجهیزات_لوازم</label>
                                <input type="text" class="form-control" id="equipment_supplies" placeholder="" value="{{object.equipment_supplies}}" name="equipment_supplies" >
                              </div>

                              <div class="col-sm-6">
                                <label for="preparation_instructions" class="form-label">دستورالعمل آماده سازی</label>
                                <input type="text" class="form-control" id="preparation_instructions" placeholder="" value="{{object.preparation_instructions}}" name="preparation_instructions" >
                              </div>


                              <div class="col-sm-6">
                                <label for="documentation_requirements" class="form-label">ملزومات مستندسازی</label>
                                <input type="text" class="form-control" id="documentation_requirements" placeholder="" value="{{object.documentation_requirements}}" name="documentation_requirements" >
                              </div>

                              <div class="col-sm-6">
                                <label for="notes" class="form-label">یادداشت</label>
                                <input type="text" class="form-control" id="notes" placeholder="" value="{{object.notes}}" name="notes" >
                              </div>


                              <div class="col-sm-6">
                                <label for="therapeutic_measures" class="form-label">اقدامات درمانی</label>
                                <input type="text" class="form-control" id="therapeutic_measures" placeholder="" value="{{object.therapeutic_measures}}" name="therapeutic_measures" >
                              </div>



                              <div class="col-sm-6">
                                <label for="recommendations" class="form-label">توصیه ها</label>
                                <input type="text" class="form-control" id="recommendations" placeholder="" value="{{object.recommendations}}" name="recommendations" >
                              </div>

                              <div class="col-sm-6">
                                <label for="appointment_per_day" class="form-label">ظرفیت رزرو نوبت در روز</label>
                                <input type="number" class="form-control" id="appointment_per_day" placeholder="" value="{{object.appointment_per_day}}" name="appointment_per_day" >
                              </div>



                              <div class="col-sm-6">
                                <label  for="off_days">روزهای تعطیل:</label>
                                <select  class="form-select" name="off_days" required="" id="off_days" multiple>
                                  <option value="" selected="">---------</option>
                                  {% for i in form.off_days.field.queryset%}
                                  <option value="{{i.id}}">{{i}}</option>
                                  {%endfor%}
                                </select>
                                </div>




                    <div class="col-sm-6">
                        <label  for="availability">در دسترس بودن:</label>
                        <select  class="form-select" name="availability" required="" id="availability">
                          <option value="" selected="">---------</option>
                          <option value="true">بله</option>
                          <option value="false">خیر</option>
                        </select>
                        </div>


                        <div class="col-sm-6">
                            <label  for="is_active">فعال:</label>
                            <select  class="form-select" name="is_active" required="" id="is_active">
                              <option value="" selected="">---------</option>
                              <option value="true">بله</option>
                              <option value="false">خیر</option>
                            </select>
                            </div>
    

            <button class="w-100 btn btn-lg btn-outline-success" type="submit">ایجاد</button>
          </form>
        </div>
      </div>
      <br><br>
      <br><br>

    </main>
</div>

{%endblock%}