{%extends 'base.html' %}
{%block title %}ایجاد سرویس  جدید{%endblock%}

{%block content %} 
   
<div class="container">
    <main>
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-todo-list/check1.webp" alt="" width="62" height="47">
        <h2>ایجاد سرویس جدید برای دکتر {{doctor}}</h2>
      </div>

        <div class="col-md-7 col-lg-8">
          <h4 class="mb-3">اطلاعات</h4>
          <form class="needs-validation" method="post" enctype="multipart/form-data">
            {%csrf_token%}
            <div class="row g-3">
                <div class="row g-3">
                  <div class="col-sm-6">
                    <label for="name" class="form-label">نام سرویس</label>
                    <input type="text" class="form-control" id="name" placeholder="" value="{% if form.data.name %}{{ form.data.name }}{% else %}{{ form.initial.name }}{% endif %}" name="name" >
                  </div>


          <div class="col-sm-6">
              <label for="description" class="form-label">توضیحات</label>
              <input type="text" class="form-control" id="description" placeholder="" value="{% if form.data.description %}{{ form.data.description }}{% else %}{{ form.initial.description }}{% endif %}" name="description" >
            </div>


            <div class="col-sm-6">
              <label  for="category">دسته بندی:</label>
              <select  class="form-select" name="category" required="" id="category">
                <option value="" selected="">---------</option>
                {% for i in form.category.field.queryset%}
                <option value="{{i.id}}">{{i}}</option>
                {%endfor%}
              </select>
              </div>

              <div class="col-sm-6">
                  <label for="duration" class="form-label">مدت زمان</label>
                  <input type="number" class="form-control" id="duration" placeholder=""  value="{% if form.data.duration %}{{ form.data.duration }}{% else %}{{ form.initial.duration }}{% endif %}" name="duration" >
                </div>

                <div class="col-sm-6">
                  <label for="price" class="form-label">قیمت</label>
                  <input type="number" class="form-control" id="price" placeholder="" value="{% if form.data.price %}{{ form.data.price }}{% else %}{{ form.initial.price }}{% endif %}" name="price" >
                </div>


                <div class="col-sm-6">
                  <label for="preparation_instructions" class="form-label">دستورالعمل آماده سازی</label>
                  <input type="text" class="form-control" id="preparation_instructions" placeholder="" value="{% if form.data.preparation_instructions %}{{ form.data.preparation_instructions }}{% else %}{{ form.initial.preparation_instructions }}{% endif %}" name="preparation_instructions" >
                </div>


                <div class="col-sm-6">
                  <label for="documentation_requirements" class="form-label">ملزومات مستندسازی</label>
                  <input type="text" class="form-control" id="documentation_requirements" placeholder="" value="{% if form.data.documentation_requirements %}{{ form.data.documentation_requirements }}{% else %}{{ form.initial.documentation_requirements }}{% endif %}"  name="documentation_requirements" >
                </div>


                <div class="col-sm-6">
                  <label for="therapeutic_measures" class="form-label">اقدامات درمانی</label>
                  <input type="text" class="form-control" id="therapeutic_measures" placeholder="" value="{% if form.data.therapeutic_measures %}{{ form.data.therapeutic_measures }}{% else %}{{ form.initial.therapeutic_measures }}{% endif %}"name="therapeutic_measures" >
                </div>



                <div class="col-sm-6">
                  <label for="recommendations" class="form-label">توصیه ها</label>
                  <input type="text" class="form-control" id="recommendations" placeholder=""value="{% if form.data.recommendations %}{{ form.data.recommendations }}{% else %}{{ form.initial.recommendations }}{% endif %}" name="recommendations" >
                </div>

                <div class="col-sm-6">
                  <label for="doctors_wage_percentage" class="form-label">میزان درصد پزشک</label>
                  <input type="number" class="form-control" id="doctors_wage_percentage" placeholder="" value="{% if form.data.doctors_wage_percentage %}{{ form.data.doctors_wage_percentage }}{% else %}{{ form.initial.doctors_wage_percentage }}{% endif %}" name="doctors_wage_percentage" >
                </div>

                <div class="col-sm-6">
                  <label for="appointment_per_day" class="form-label">ظرفیت رزرو نوبت در روز</label>
                  <input type="number" class="form-control" id="appointment_per_day" placeholder=""value="{% if form.data.appointment_per_day %}{{ form.data.appointment_per_day }}{% else %}{{ form.initial.appointment_per_day }}{% endif %}" name="appointment_per_day" >
                </div>



                <div class="col-sm-6">
                  <label  for="off_days">روزهای تعطیل:</label>
                  <select  class="form-select" name="off_days" required="" id="off_days" multiple>
                    <option value="" selected="">---------</option>
                    {% for i in form.off_days.field.queryset%}
                    <option value="{{i.id}}">{{i}}</option>
                    {%endfor%}
                  </select>
                  </div>

                  <div class="col-sm-6">
                    <label  for="doctor">پزشک:</label>
                    <select  class="form-select" name="doctor" required="" id="doctor" multiple>
                      <option value="" selected="">---------</option>
                      {% for i in form.medical_equipment.field.queryset%}
                      <option value="{{i.id}}">{{i}}</option>
                      {%endfor%}
                    </select>
                    </div>
          <div class="col-sm-6">
              <label  for="is_active">فعال:</label>
              <select  class="form-select" name="is_active" required="" id="is_active">
                <option value="" selected="">---------</option>
                <option value="true">بله</option>
                <option value="false">خیر</option>
              </select>
              </div>
  
    

            <button class="w-100 btn btn-lg btn-outline-success" type="submit">ایجاد</button>
          </form>
        </div>
      </div>
      <br><br>
      <br><br>

    </main>
</div>

{%endblock%}