{{services.id}}::{{services.name}}
<p>---------------------------</p>
{%for i in consumable%}
    {{i.consumable}}: <a href="{% url 'services:service_consumable_delete' i.id %}">Remove</a><br>
{%endfor%}
<a href="{% url 'services:service_consumable_create' services.id %}">Add consumable</a>


<h2>Reception</h2>
<ul>
    {% for i in reception %}
        <li>
                {{ i }} <a href="{% url 'reception:detail' i.id %}">Detail</a><br>
            <!-- Add other financial instance details as needed -->
        </li>
    {% empty %}
    <li>No Reception instance  found.</li>
    {% endfor %}
</ul>
<p>Receptions: {{num_reception}}</p>


<h2>Valid Insurance</h2>
<ul>
    {% for i in insurance %}
        <li>
                {{ i.insurance }}:{{i.percentage}} <br>
            <!-- Add other financial instance details as needed -->
        </li>
    {% empty %}
    <li>No Reception instance  found.</li>
    {% endfor %}
</ul>