{% extends 'base_list.html' %}
{% block title %}لیست سرویس ها{% endblock %}
{%block list_title%}لیست سرویس ها{%endblock%}
{%block filter_field%}
<div class="row g-3">
  <div class="col-sm-6">
    <label for="id" class="form-label">ID</label>
    <input  class="form-control" type="number" name="id" step="any" id="id"value="{{ request.GET.id }}" >
  </div>

  <div class="col-sm-6">
    <label for="name" class="form-label">نام سرویس</label>
    <input  class="form-control" type="text" name="name" step="any" id="name" value="{{ request.GET.name }}" >
  </div>

  <div class="col-sm-6">
    <label for="service">نام پزشک</label>
    <select class="form-select" name="service" id="service">
      <option value="" selected>---------</option>
      {% for i in filter.form.doctor.field.queryset %}
        <option value="{{ i.id }}">{{ i }}</option>
      {% endfor %}
    </select>
  </div>


  
  <div class="col-sm-6">
    <label for="service">دسته بندی سرویس ها</label>
    <select class="form-select" name="service" id="service">
      <option value="" selected>---------</option>
      {% for i in filter.form.category.field.queryset %}
        <option value="{{ i.id }}">{{ i.name }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="col-sm-6">
    <label  for="is_active">فعال</label>
    <select  class="form-select" name="is_active"  id="is_active">
      <option value="" selected="">---------</option>
      <option value="true">بله</option>
      <option value="false">خیر</option>
    </select>
    </div>


    <div class="col-sm-6">
      <label for="created_by_email" class="form-label">ایمیل ایجاد کننده
      </label>
      <input  class="form-control" type="text" name="created_by_email" step="any" id="created_by_email" value="{{ request.GET.created_by_email }}" >
    </div>

    <div class="col-sm-6">
      <label for="date" class="form-label">تاریخ</label>
      <input  class="form-control" type="date" name="date" step="any" id="date" value="{{ request.GET.date }}" >
    </div>

    <div class="col-sm-6">
      <label for="date_range">محدوده زمانی</label>
      <select class="form-select" name="date_range" id="date_range">
        <option value="" selected>---------</option>
        <option value="today">امروز</option>
        <option value="this_week">هفته گذشته</option>
        <option value="this_month">ماه گذشته</option>
      </select>
    </div>


{%endblock%}
{%block buttons%} 
<form action="{% url 'services:delete_selected_services' %}" method="post" id="deleteForm">
  {% csrf_token %}
  {% if perms.services.add_service%}
<a href="{% url 'services:create' %}" class="btn btn-success me-2">ایجاد سرویس جدید</a>
{% endif %}
{% if perms.accounts.view_reports%}
<a href="{% url 'reports:service_reports' %}" class="btn btn-success me-2">گزارشات</a>
{% endif %}
{% if perms.services.change_service%}
<a href="{% url 'services:update_service_prices' %}"class="btn btn-success me-2">افزایش قیمت دسته ای سرویس ها</a>
{% endif %}
{% if perms.services.delete_service%}
<button type="button" class="btn btn-success me-2" id="confirmDeleteBtn" style="display: none;">حذف</button> <!-- Delete button -->
{% endif %}

{%endblock%}
{%block thead%}

<th scope="col"><input type="checkbox" id="selectAll"></th>
<th scope="col">شماره سرویس</th>
<th scope="col">عنوان</th>
<th scope="col">پزشک</th>
<th scope="col">دسته بندی</th>
<th scope="col">قیمت</th>
<th scope="col">وضعیت</th>
<th scope="col">پذیرش های امروز</th>
<th scope="col">رزرو شد امروز</th>
<th scope="col">بیماران</th>
<th scope="col">  کل پذیرش ها</th>
<th scope="col">اکشن ها</th>

{%endblock%}
{%block tbody%} 
{%for i in services%}
<tr class="fw-normal">
  <td><input type="checkbox" name="service_ids" value="{{ i.id }}" class="-checkbox"></td> <!-- Checkbox -->

  <th>
    <span class="ms-2">{{i.id}}</span>
  </th>
  <td class="align-middle">
    <span>{{i.name}}</span>
  </td>
  <td class="align-middle">
      <span>{{i.doctor}}</span>
    </td>

    <td class="align-middle">
      <span>{{i.category}}</span>
    </td>


    <td class="align-middle">
      <span>{{i.price}}</span>
    </td>

    <td class="align-middle">
      {% if i.is_active == True %}
      <span class="badge bg-success rounded-pill"> فعال </span>
      {% else %}
      <span class="badge bg-danger rounded-pill"> غیرفعال </span>
      {% endif %}
    </td>

    <td class="align-middle">
      <span>{{i.today_reception_count}}</span>
    </td>



    <td class="align-middle">
      <span>{{i.appointment_count_today}}</span>
    </td>

    <td class="align-middle">
      <span>{{i.client_count}}</span>
    </td>

    <td class="align-middle">
      <span>{{i.total_reception_count}}</span>
    </td>


  <td class="align-middle">
      <a href="{%url 'services:detail' i.id %}" data-mdb-toggle="tooltip" title="Detail"> <i class="fas fa-info-circle"></i></a>
      {% if perms.service.change_service%}
      <a href="{%url 'services:update' i.id %}" data-mdb-toggle="tooltip" title="Update"><i class="fas fa-edit" ></i></a>
      <a href="{% url 'services:appointment_config' i.pk %}" data-mdb-toggle="tooltip" title="Appointment Config"><i class="fas fa-cog" ></i></a>
      {%endif%}
      {% if perms.planner.view_month%}
      <a href="{% url 'planner:calendar' i.pk %}" data-mdb-toggle="tooltip" title="Appointment"><i class="fas fa-calendar" ></i></a>
      {% endif %}
      <a href="{% url 'services:queue' i.pk %}" data-mdb-toggle="tooltip" title="Waiting Queue"><i class="fas fa-list" ></i></a>
  </td>
</tr>
{%endfor%}

<script>
  // JavaScript for Select All functionality
  document.getElementById('selectAll').addEventListener('change', function() {
      var checkboxes = document.querySelectorAll('.-checkbox');
      for (var checkbox of checkboxes) {
        checkbox.checked = this.checked;
      }
    });
  
    // Show/Hide Delete Button based on checkbox selection
    var checkboxes = document.querySelectorAll('.-checkbox');
    for (var checkbox of checkboxes) {
      checkbox.addEventListener('change', function() {
        var anyChecked = Array.from(checkboxes).some(cb => cb.checked);
        document.getElementById('confirmDeleteBtn').style.display = anyChecked ? 'block' : 'none';
      });
    }
  
    // Initial check to show/hide the delete button
    var anyChecked = Array.from(checkboxes).some(cb => cb.checked);
    document.getElementById('confirmDeleteBtn').style.display = anyChecked ? 'block' : 'none';
  </script>
  
  
{%endblock%}
{%block delete_content%}
سرویس های انتخاب شده به طور کامل از سیستم حذف می شوند
{%endblock%}