{% extends 'base_list.html' %}
{% block title %}لیست  نسخه ها{% endblock %}
{%block list_title%}لیست  نسخه ها{%endblock%}
{%block filter_field%}
  <div class="col-sm-6">
    <label for="id" class="form-label">شماره نسخه</label>
    <input  class="form-control" type="number" name="id" step="any" id="id"value="{{ request.GET.id }}" >
  </div>

  <div class="col-sm-6">
    <label for="reception_id" class="form-label">شماره پذیرش</label>
    <input  class="form-control" type="number" name="reception_id" step="any" id="reception_id"value="{{ request.GET.reception_id }}" >
  </div>

  <div class="col-sm-6">
    <label for="name" class="form-label">نام بیمار</label>
    <input  class="form-control" type="text" name="name" step="any" id="name"value="{{ request.GET.name }}" >
  </div>

  <div class="col-sm-6">
    <label for="reception_client_national_id" class="form-label">کدملی بیمار</label>
    <input  class="form-control" type="text" name="reception_client_national_id" step="any" id="reception_client_national_id"value="{{ request.GET.reception_client_national_id }}" >
  </div>

  <div class="col-sm-6">
    <label for="reception_client_id" class="form-label">شماره پرونده بیمار</label>
    <input  class="form-control" type="number" name="reception_client_id" step="any" id="reception_client_id"value="{{ request.GET.reception_client_id }}" >
  </div>

  <div class="col-sm-6">
    <label for="reception_service_doctor" class="form-label">reception_service_doctor</label>
    <input  class="form-control" type="text" name="reception_service_doctor" step="any" id="reception_service_doctor"value="{{ request.GET.reception_service_doctor }}" >
  </div>

  <div class="col-sm-6">
    <label for="reception_service_doctor" class="form-label">نام پزشک</label>
    <input  class="form-control" type="text" name="reception_service_doctor" step="any" id="reception_service_doctor"value="{{ request.GET.reception_service_doctor }}" >
  </div>
  <div class="col-sm-6">
    <label for="reception_date" class="form-label">تاریخ پذیرش</label>
    <input  class="form-control" type="date" name="reception_date" step="any" id="reception_date"value="{{ request.GET.reception_date }}" >
  </div>
  <div class="col-sm-6">
    <label for="date" class="form-label">تاریخ</label>
    <input  class="form-control" type="date" name="date" step="any" id="date" value="{{ request.GET.date }}" >
  </div>

  <div class="col-sm-6">
    <label for="date_range">محدوده زمانی</label>
    <select class="form-select" name="date_range" id="date_range">
      <option value="" selected>---------</option>
      <option value="today">امروز</option>
      <option value="this_week">هفته گذشته</option>
      <option value="this_month">ماه گذشته</option>
    </select>
  </div>


  <div class="col-sm-6">
    <label for="created_by_email" class="form-label">ایجاد کننده</label>
    <input  class="form-control" type="text" name="created_by_email" step="any" id="created_by_email" value="{{ request.GET.created_by_email }}" >
  </div>

{%endblock%}
{%block buttons%} 

<a href="{% url 'reports:prescription_reports' %}" class="btn btn-success me-2">گزارشات</a>

{%endblock%}
{%block thead%}

<th scope="col"> </th>
<th scope="col">شماره نسخه</th>
<th scope="col">شماره پذیرش</th>
<th scope="col">نام بیمار</th>
<th scope="col">کدملی</th>
<th scope="col">نام پزشک</th>
<th scope="col">تاریخ</th>
<th scope="col">اکشن ها</th>

{%endblock%}
{%block tbody%} 
{%for i in prescription%}
<tr class="fw-normal">
  <td><input type="checkbox" name="service_ids" value="{{ i.id }}"></td> <!-- Checkbox -->

  <th>
    <span class="ms-2">{{i.id}}</span>
  </th>
  <td class="align-middle">
    <span>{{i.reception.id}}</span>
  </td>
  <td class="align-middle">
      <span>{{i.reception.client}}</span>
    </td>

    <td class="align-middle">
      <span>{{i.reception.client.national_id}}</span>
    </td>


    <td class="align-middle">
      <span>{{i.reception.service.doctor}}</span>
    </td>

    <td class="align-middle">
      <span>{{i.reception.date}}</span>
    </td>

  <td class="align-middle">
      <a href="{%url 'prescription:detail' i.id %}" data-mdb-toggle="tooltip" title="Detail"> <i class="fas fa-info-circle"></i></a>
      <a href="{%url 'prescription:update' i.id %}" data-mdb-toggle="tooltip" title="ویرایش"><i class="fas fa-edit" ></i></a>

  </td>
</tr>
{%endfor%}
{%endblock%}
{%block delete_content%}
نسخه های انتخاب شده به طور کامل از سیستم حذف می شوند
{%endblock%}