{%extends 'base_create.html' %}
{%block title %}ایجاد پذیرش جدید برای {{client}}{%endblock%}
{%block form_title %}ایجاد پذیرش جدید برای {{client}}{%endblock%}

{%block fields %} 
<div class="col-sm-6">
<label for="reason" class="form-label">علت مراجعه</label>
<input type="text" class="form-control" id="reason" placeholder="" value="{{object.reason}}" value="{% if form.data.reason %}{{ form.data.reason }}{% else %}{{ form.initial.reason }}{% endif %}" name="reason" >
</div>

<div class="col-sm-6">
<label  for="payment_type">نوع پرداخت:</label>
<select  class="form-select" name="payment_type" required="" id="payment_type">
<option value="" selected="">---------</option>
<option value="CASH">نقد</option>
<option value="CARD">کارت</option>
<option value="INSURANCE">بیمه</option>
<option value="OTHER">روش های دیگر</option>
</select>
</div>

<div class="col-sm-6">
<label  for="payment_status">وضعیت پرداخت:</label>
<select  class="form-select" name="payment_status" required="" id="payment_status">
<option value="" selected="">---------</option>
<option value="پرداخت شده">پرداخت شده</option>
<option value="پرداخت نشده">پرداخت نشده</option>
</select>
</div>
{%endblock%}