{% extends 'base.html' %}
{% block title %}پذیرش شماره {{reception.id}}{% endblock %}
{% block content %}

<div class="container mt-4">
    <h2>پذیرش بیمار  {{reception.client}}</h2>
    <hr>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card mt-4">
                <div class="card-header" ><strong>
                اطلاعات پذیرش </strong>
                </div>
                <div class="card-body">
                    <p class="card-text"><strong>شماره پذیرش:</strong>{{reception.id}}</p>
                    <hr>
                    <p class="card-text"><strong>بیمار:</strong>{{reception.client}}</p>
                    <hr>
                    <p class="card-text"><strong>سرویس ارایه شده:</strong>{{reception.service}}</p>
                    <hr>
                    <p class="card-text"><strong>علت مراجعه: </strong>{{reception.reason}}</p>
                    <hr>
                    <p class="card-text"><strong>پزشک معالج: </strong>{{reception.service.doctor}}</p>
                    <hr>
                    <p class="card-text"><strong>تاریخ مراجعه: </strong>{{reception.date}}</p>
                    <hr>
                    <p class="card-text"><strong>ایجاد کننده در سیستم: </strong>{{reception.created_by}}</p>
                    <hr>
                    <p class="card-text"><strong>وضعیت: </strong>{{reception.status}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mt-4">
                <div class="card-header"><strong>
                    اطلاعات شخصی بیمار
                </strong></div>
                <div class="card-body">
                    <p class="card-text"><strong>کد بیمار:</strong>{{reception.client.id}}</p>
                    <hr>
                    <p class="card-text"><strong>شماره پرونده: </strong>{{reception.client.case_id}}</p>
                    <hr>
                    <p class="card-text"><strong>تام:</strong>{{reception.client.first_name}} {{reception.client.last_name}}</p>
                    <hr>
                    <p class="card-text"><strong>نام پدر:</strong>{{reception.client.fathers_name}}</p>
                    <hr>
                    <p class="card-text"><strong>کدملی: </strong>{{reception.client.national_id}}</p>
                    <hr>
                    <p class="card-text"><strong>تاریخ تولد: </strong>{{reception.client.date_of_birth}}</p>
                    <hr>
                    <p class="card-text"><strong>وضعیت تاهل: </strong>{{reception.client.marital_status}}</p>
                    <hr>
                    <p class="card-text"><strong>بیمار ویژه: </strong>{{reception.client.is_vip}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header"><strong>
                    اطلاعات سوابق درمانی و بیماری 
               </strong></div>
                <div class="card-body">
                    <p class="card-text"><strong>سابقه جراحی: </strong>{{reception.client.surgeries}}</p>
                    <hr>
                    <p class="card-text"><strong>حساسیت:</strong>{{reception.client.allergies}}</p>
                    <hr>
                    <p class="card-text"><strong>سوابق درمان:</strong>{{reception.client.medical_history}}</p>
                    <hr>
                    <p class="card-text"><strong>سوابق دارویی: </strong>{{reception.client.medications}}</p>
                    <hr>
                    <p class="card-text"><strong>استعمال دخانیات: </strong>{{reception.client.smoker}}</p>
                    <hr>
                    <p class="card-text"><strong>بیماری: </strong>{{reception.client.disease}}</p>
                    <hr>
                    <p class="card-text"><strong>علت آخرین مراجعه: </strong>{{reception.client.last_reception_reason}}</p>
                    <hr>
                    <p class="card-text"><strong>تاریخ آخرین مراجعه:</strong>{{reception.client.last_reception_date}}</p>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header"><strong>
                اطلاعات فاکتور
            </strong>  </div>
                <div class="card-body">
                    <p class="card-text"><strong>شماره فاکتور:</strong> {{ financial.invoice_number }}</p>
                    <hr>
                    <p class="card-text"><strong>وضعیت پرداخت:</strong> {{ financial.payment_status  }}</p>
                    <hr>
                    <p class="card-text"><strong>مالیات:</strong> {{ financial.tax_rate }}</p>   
                    <hr>
                    {%if financial.valid_insurance == False %}
                    <p class="card-text"><strong> نوع بیمه: </strong>آزاد   </p>     
                    <hr>
                    {%else%}
                    <p class="card-text"><strong> نوع بیمه: </strong>{{reception.client.insurance}}</p>     
                    <hr>
                    {%endif%}
                    <p class="card-text"><strong>درصد تحت پوشش بیمه:</strong> % {{financial.insurance_range}} </p>     
                    <hr>
                    <p class="card-text"><strong>مبلغ تحت پوشش بیمه:</strong> {{ financial.insurance_amount }}</p>    
                    <hr>
                    <p class="card-text"><strong>مبلغ کل:</strong> {{ financial.total_amount }}</p>   
                     <hr>
                     <p class="card-text"><strong>مبلغ نهایی:</strong> {{ financial.final_amount }}</p>   
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header"><strong>
                     اکشن ها
                    </strong>   </div>
                <div class="card-footer">
                    <a href="{% url 'prescription:create' reception.pk %}" class="btn btn-success me-2">ایجاد نسخه</a>
                    <a href="{% url 'financial:invoice' financial.id%}" class="btn btn-success me-2">نمایش صورتحساب</a>

                    {%if reception.status == "WAITE"%}
                    <a href="#" data-toggle="modal" data-target="#exampleModal2"  class="btn btn-success me-2" title="Complete Reception">اتمام پذیرش</a>
                    {%endif%}
                    {% if reception.appointment%}
                    <a href="{% url 'booking:detail' reception.appointment.pk %}" class="btn btn-success me-2">مشاهده جزییات نوبت رزرو شده</a>
                    {%endif%}
                    <a href="{% url 'reception:update' reception.id%}" class="btn btn-success me-2">ویرایش</a>
                    <a href="#" data-toggle="modal" data-target="#exampleModal"  class="btn btn-success me-2" title="Delete">حذف</a>
                </div>
            </div>
        </div>
    </div>
</div>



<br>
<br>
<br>
<br>
      <!-- DELETE MODALS -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">تایید حذف</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                این پذیرش به طور کل از سیستم حذف خواهد شد
            </div>
            <div class="modal-footer">
              <a class="btn btn-primary" href="{% url 'reception:delete' pk=reception.pk %}" class="btn">تایید</a>
          </div>
          </div>
        </div>
      </div>

      <!-- ASSIGNEE MODALS -->
      <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">اتمام پذیرش</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              اتمام پذیرش انجام شود ؟
            </div>
            <div class="modal-footer">
              <a class="btn btn-primary" href="{% url 'reception:complete' reception.pk %}" class="btn">تایید</a>
          </div>
          </div>
        </div>
      </div>

    <!-- jQuery (needed for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
