{{reception.client}} <br>
{{reception.reason}}<br>
{{reception.payment_type}}<br>
<a href="{% url 'prescription:create' reception.pk %}">Add Prescription</a>,
<a href="{% url 'reception:complete' reception.pk %}">Complete Reception</a>,


<p>-------------</p>
{% if financial %}
    <h2>Financial Details</h2>
    <p>Invoice Number: {{ financial.invoice_number }}</p>
    <p>payment_status: {{ financial.payment_status }}</p>
    <p>tax_rate: {{ financial.tax_rate }}</p>
    <p>total_amount: {{ financial.total_amount }}</p>
    <p>valid insurance {{financial.valid_insurance}}</p>
    <p>insurance range {{financial.insurance_range}}</p>


    <!-- Display other financial details as needed -->
{% else %}
    <p>No financial details found for this reception.</p>
{% endif %}