{% extends 'base.html'%}
{% block title %} لیست پذیرش ها{% endblock %}

{%block content%}
  <div class="container" style="padding-bottom: 100%;">
    <section class="vh-100 gradient-custom-2">
        <div class="container py-5 h-100">
          <div class="text-center pt-3 pb-2">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-todo-list/check1.webp"
              alt="Check" width="60">
            <h2 class="my-4">لیست پذیرش ها</h2>
          </div>
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-12 col-xl-10">
              <div class="card mask-custom">
                <div class="card-body p-4 text-white">
                  <form class="table text-white mb-0" method="get">
                    {%csrf_token%}
                    <div class="row g-3">
                      <div class="col-sm-6">
                        <label for="case_id" class="form-label">شماره پرونده بیمار</label>
                        <input  class="form-control" type="text" name="case_id" step="any" id="case_id"value="{{ request.GET.case_id }}" >
                      </div>
          
                      <div class="col-sm-6">
                        <label for="national_id" class="form-label">کدملی بیمار</label>
                        <input  class="form-control" type="text" name="national_id" step="any" id="national_id" value="{{ request.GET.national_id }}" >
                      </div>

                      <div class="col-sm-6">
                        <label for="name" class="form-label">نام و نام خانوادگی بیمار</label>
                        <input  class="form-control" type="text" name="name" step="any" id="name" value="{{ request.GET.name }}" >
                      </div>


                      <div class="col-sm-6">
                        <label for="service">سرویس ارایه شده</label>
                        <select class="form-select" name="service" id="service">
                          <option value="" selected>---------</option>
                          {% for i in filter.form.service.field.queryset %}
                            <option value="{{ i.id }}">{{ i.name }}</option>
                          {% endfor %}
                        </select>
                      </div>
          
          
                      <div class="col-sm-6">
                        <label for="date" class="form-label">تاریخ</label>
                        <input  class="form-control" type="date" name="date" step="any" id="date" value="{{ request.GET.date }}" >
                      </div>
          
                      <div class="col-sm-6">
                        <label for="date_range">محدوده زمانی</label>
                        <select class="form-select" name="date_range" id="date_range">
                          <option value="" selected>---------</option>
                          <option value="today">امروز</option>
                          <option value="this_week">هفته گذشته</option>
                          <option value="this_month">ماه گذشته</option>
                        </select>
                      </div>


                      <button class="w-100 btn btn-lg btn-outline-success" type="submit">جستجو</button>
                    </form>

                    <div class="mb-4">
                      <form action="{% url 'reception:delete_selected_reception' %}" method="post" id="deleteForm">
                        {% csrf_token %}
                    <a href="{% url 'reception:create' %}" class="btn btn-success me-2">ایجاد پذیرش جدید</a>
                    <a href="{% url 'reports:reception_reports' %}" class="btn btn-success me-2">گزارشات</a>
                    <button type="button" class="btn btn-success me-2" id="confirmDeleteBtn" style="display: none;">حذف</button> <!-- Delete button -->
                    </div>

                  <table class="table text-white mb-0">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">شماره پذیرش</th>
                        <th scope="col">شماره پرونده بیمار</th>
                        <th scope="col">نام بیمار</th>
                        <th scope="col">کدملی</th>
                        <th scope="col">سرویس</th>
                        <th scope="col"> نام پزشک معالجه کننده</th>
                        <th scope="col">شماره فاکتور</th>
                        <th scope="col">شماره نوبت رزور شده </th>
                        <th scope="col">اکشن ها</th>

                      </tr>
                    </thead>
                    <tbody>
                        {%for i in reception%}
                      <tr class="fw-normal">
                        <td><input type="checkbox" name="reception_ids" value="{{ i.id }}"></td> <!-- Checkbox -->
                        <th>
                          <span class="ms-2">{{i.id}}</span>
                        </th>
                        <td class="align-middle">
                          <span>{{i.client.case_id}}</span>
                        </td>
                        <td class="align-middle">
                            <span>{{i.client.first_name}} {{i.client.last_name}}</span>
                          </td>

                          <td class="align-middle">
                            <span>{{i.client.national_id}}</span>
                          </td>


                          <td class="align-middle">
                            <span>{{i.service}}</span>
                          </td>


                          <td class="align-middle">
                            <span>{{i.service.doctor}}</span>
                          </td>

                          <td class="align-middle">
                            <span>{{i.financial.id}}</span>
                          </td>

                          <td class="align-middle">
                            {% if i.session%}
                            <span>{{i.session.id}}</span>
                            {%else%}
                            <span>بدون نوبت قبلی</span>
                          {%endif%}
                          </td>

                        <td class="align-middle">
                            <a href="{%url 'reception:detail' i.id %}" data-mdb-toggle="tooltip" title="جزییات"> <i class="fas fa-info-circle"></i></a>
                            <a href="{%url 'reception:update' i.id %}" data-mdb-toggle="tooltip" title="ویرایش"><i class="fas fa-edit" ></i></a>
                            <a href="{% url 'prescription:create' i.id %}" data-mdb-toggle="tooltip" title="افزودن نسخه"><i class="fas fa-prescription"></i></a>

                        </td>
                      </tr>
                      {%endfor%}
                    </form>

                      </tbody>
                  </table>
    
      
                  <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1" aria-label="First">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">Previous</span>
                                </a>
                            </li>
                        {% endif %}
                
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
                        </li>
                
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">Next</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
                </div>
              </div>
      
            </div>
          </div>
        </div>
      </section>




      <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">تایید حذف</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    موارد انتخاب شده به طور کامل از سیستم حذف می شوند
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                    <button type="button" class="btn btn-primary" id="confirmDelete">تایید</button>
                </div>
            </div>
        </div>
    </div>

</div>
    <script>
      // Function to show delete button when checkboxes are selected
      document.querySelectorAll('input[type="checkbox"]').forEach(function(checkbox) {
          checkbox.addEventListener('change', function() {
              var checkedCheckboxes = document.querySelectorAll('input[type="checkbox"]:checked');
              if (checkedCheckboxes.length > 0) {
                  document.getElementById('confirmDeleteBtn').style.display = 'inline-block';
              } else {
                  document.getElementById('confirmDeleteBtn').style.display = 'none';
              }
          });
      });
  
      // Function to show modal when delete button is clicked
      document.getElementById('confirmDeleteBtn').addEventListener('click', function() {
          $('#deleteConfirmationModal').modal('show');
      });
  
      // Function to submit the form when confirm delete button in modal is clicked
      document.getElementById('confirmDelete').addEventListener('click', function() {
          $('#deleteForm').submit();
      });
  </script>
  
    
    </section>
<!-- jQuery (needed for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{%endblock%}
