{%extends 'base_create.html' %}
{%block title %}افزودن سند جدید{%endblock%}
{%block form_title %}افزودن سند جدید{%endblock%}

{%block fields %} 
                      <div class="col-sm-6">
                        <label for="title" class="last_name-label">عنوان</label>
                        <input type="text" class="form-control" id="title" placeholder="" value="{{object.title}}" name="title" >
                      </div>
                      <div class="col-sm-6">
                        <label for="type" class="national_id-label">نوع سند</label>
                        <input type="text" class="form-control" id="type" placeholder="" value="{{object.type}}" name="type" >
                      </div>

                    <label class="form-label" for="customFile">پیوست</label>
                    <input type="file" class="form-control" id="customFile" name="attachments" />

{%endblock%}