{% extends 'base_list.html' %}
{% block title %}لیست مستندات {{client}}{% endblock %}
{%block list_title%}لیست مستندات {{client}}{%endblock%}
{%block filter_field%}

<div class="col-sm-6">
  <label for="id_id" class="form-label">شماره سند</label>
  <input  class="form-control" type="number" name="id" step="any" id="id_id"value="{{ request.GET.id }}" >
</div>

<div class="col-sm-6">
  <label for="title" class="form-label">عنوان</label>
  <input  class="form-control" type="text" name="title" step="any" id="title"value="{{ request.GET.title }}" >
</div>

<div class="col-sm-6">
  <label for="type" class="form-label">نوع سند</label>
  <input  class="form-control" type="text" name="type" step="any" id="type" value="{{ request.GET.type }}" >
</div>



{%endblock%}
{%block buttons%}
<form action="{% url 'client:delete_selected_attachment' client.id %}" method="post" id="deleteForm">
  {% csrf_token %}
  <a href="{% url 'client:attachment_create' client.id %}" class="btn btn-success me-2"> افزودن سند جدید</a>
  <button type="button" class="btn btn-success me-2" id="confirmDeleteBtn" style="display: none;">حذف</button> <!-- Delete button -->

<!-- Delete button -->
{%endblock%}
{%block thead%}
<th scope="col"><input type="checkbox" id="selectAll"></th>
<th scope="col">شماره سند</th>
<th scope="col">عنوان</th>
<th scope="col">نوع سند</th>
<th scope="col">تاریخ ایحاد</th>
<th scope="col">اکشن ها</th>
{%endblock%}
{%block tbody%}
{%for i in attachments%}
<tr class="fw-normal">
  <td><input type="checkbox" name="attachment_ids" value="{{ i.id }}" class="-checkbox"></td> <!-- Checkbox -->
  <th>
    <span class="ms-2">{{i.id}}</span>
  </th>
  <th>
    <span class="ms-2">{{i.title}}</span>
  </th>
  <td class="align-middle">
    <span>{{i.type}}</span>
  </td>
  <td class="align-middle">
      <span>{{i.created_at}}</span>
    </td>
  <td class="align-middle">
    <a href="{% url 'client:attachment_update' i.id %}" data-mdb-toggle="tooltip" title="ویرایش"><i class="fas fa-edit" ></i></a>
    <a href="{{ i.attachments.url }}" download data-mdb-toggle="tooltip" title="دانلود"><i class="fas fa-download" ></i></a> <!-- Download button -->

  </td>
</tr>
{%endfor%}
</form>
<script>
  // JavaScript for Select All functionality
  document.getElementById('selectAll').addEventListener('change', function() {
      var checkboxes = document.querySelectorAll('.-checkbox');
      for (var checkbox of checkboxes) {
        checkbox.checked = this.checked;
      }
    });
  
    // Show/Hide Delete Button based on checkbox selection
    var checkboxes = document.querySelectorAll('.-checkbox');
    for (var checkbox of checkboxes) {
      checkbox.addEventListener('change', function() {
        var anyChecked = Array.from(checkboxes).some(cb => cb.checked);
        document.getElementById('confirmDeleteBtn').style.display = anyChecked ? 'block' : 'none';
      });
    }
  
    // Initial check to show/hide the delete button
    var anyChecked = Array.from(checkboxes).some(cb => cb.checked);
    document.getElementById('confirmDeleteBtn').style.display = anyChecked ? 'block' : 'none';
  </script>
  
{%endblock%}
{%block delete_content%}
مستندات انتخاب شده به طور کامل از سیستم حذف می شوند
{%endblock%}