{%extends 'base_update.html' %}
{%block title %}ویرایش سند {{object.title}} {{object.client}}{%endblock%}
{%block form_title %}ویرایش سند {{object.title}} {{object.client}}{%endblock%}
{%block fields %} 
<div class="col-sm-6">
<label for="title" class="last_name-label">عنوان</label>
<input type="text" class="form-control" id="title" placeholder="" value="{{object.title}}" name="title" >
</div>

<div class="col-sm-6">
<label for="type" class="national_id-label">نوع سند</label>
<input type="text" class="form-control" id="type" placeholder="" value="{{object.type}}" name="type" >
</div>
{%endblock%}