{%extends 'base.html' %}
    {%block title%}نوبت دهی سرویس {{service}}{%endblock%}

  {%block content%}
    <div class="container">
        <h1>نوبت دهی سرویس {{service}}</h1>
        <br>
        {% for month in months %}
        <div class="card mb-3">
            <div class="card-header">{{ month.slug }}</div>
            <div class="card-body">
                <div class="row">
                    {% for day in month.day_set.all %}
                    <div class="col-md-2">
                        <div class="card">
                            <div class="card-header">{{ day.name }} , {{ day }} </div>
                            <div class="card-body">
                                {%if day.name in service.off_days.all%}
                                   <h5> <span class="badge bg-danger rounded-pill">روز تعطیل</span></h5>
                                   <hr>
<br>
<br>

                                {%else%}
                                <h5> <span class="badge bg-success rounded-pill"> 0 / {{service.appointment_per_day}}</span></h5>
                                <hr>
                                <a href="{% url 'planner:list' service.id day.id %}" class="btn btn-outline-success ms-1">نمایش</a>
                                <a href="{% url 'planner:create' service.id day.id %}" class="btn btn-outline-success ms-1">ثبت</a>

                                {%endif%}

                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
