{%extends 'base.html' %}
    {%block title%}نوبت دهی سرویس {{service}}{%endblock%}

  {%block content%}
    <div class="container">
        <h1>نوبت دهی سرویس {{service}}</h1>
        <br>
        {% for month in months %}
        <div class="card mb-3">
            <div class="card-header">{{ month.slug }}</div>
            <div class="card-body">
                <div class="row">
                    {% for day in month.day_set.all %}
                    <div class="col-md-2">
                        <div class="card">
                            <div class="card-header">{{ day.name }},{{ day }} </div>
                            <div class="card-body">
                                {%for i in service.off_days.all%}
                                    {% if i.number == day.name.number%}
                                    <span class="badge bg-danger rounded-pill">روز تعطیل</span>
                                    {%endif%}
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
