{% extends 'base.html' %}
    {%block title %}نوبت دهی{%endblock%}
{%block content%}
<div class="container mt-5 mb-3">
    <div class="row">
        {%for i in services%}

        <div class="col-md-4">
            <div class="card p-3 mb-2">
                    <h3 class="heading">{{i}}</h3>
                    <br>
                    <h۵ >دکتر {{i.doctor.get_full_name}}</h6> <br>
                    <small >تخصص: {{i.doctor.specialization}}</small>

                    <hr>
                        <div>                            
                            <a href="{% url 'planner:calendar' i.id%}" class="btn btn-outline-success me-2">نمایش تقویم نوبت دهی</a>
                            <a href="{% url 'services:detail' i.id%}" class="btn btn-outline-success me-2">جزییات سرویس</a>
                        </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
{%endblock %}