{%extends 'base_create.html' %}
{%block title %}ایجاد تسک جدید{%endblock%}
{%block form_title %}ایجاد تسک جدید{%endblock%}

{%block fields %} 
<div class="col-sm-6">
<label for="title" class="form-label">عنوان</label>
<input type="text" class="form-control" id="title" placeholder="" value="{% if form.data.title %}{{ form.data.title }}{% else %}{{ form.initial.title }}{% endif %}" name="title" >
</div>
<div class="col-sm-6">
<label for="description" class="form-label">توضیحات</label>
<input type="text" class="form-control" id="description" placeholder="" value="{% if form.data.description %}{{ form.data.description }}{% else %}{{ form.initial.description }}{% endif %}" name="description" >
</div>
<div class="col-sm-6">
<label for="type" class="form-label">نوع تسک</label>
<input type="text" class="form-control" id="type" placeholder="" value="{% if form.data.type %}{{ form.data.type }}{% else %}{{ form.initial.type }}{% endif %}" name="type" >
</div>
<div class="col-sm-6">
<label  for="priority">اولویت:</label>
<select  class="form-select" name="priority"  id="priority">
<option value="" selected="">---------</option>
<option value="پایین">پایین</option>
<option value="متوسط">متوسط</option>
<option value="بالا">بالا</option>
</select>
</div>
<div class="col-sm-6">
<label  for="assign_to">اختصاص به :</label>
<select  class="form-select" name="assign_to"  id="assign_to">
<option value="" selected="">---------</option>
{% for i in form.assign_to.field.queryset%}
<option value="{{i.id}}">{{i}}</option>
{%endfor%}
</select>
</div>
{%endblock%}