{%extends 'base.html' %}
{%block title %}افزودن تجهیزات پزشکی{%endblock%}

{%block content %} 
   
<div class="container">
    <main>
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-todo-list/check1.webp" alt="" width="62" height="47">
        <h2>افزودن تجهیزات پزشکی</h2>
      </div>

        <div class="col-md-7 col-lg-8">
          <h4 class="mb-3">اطلاعات</h4>
          <form class="needs-validation" method="post" enctype="multipart/form-data" id="equipment-form">
            {%csrf_token%}
            <div class="row g-3">
                <div class="row g-3">

                    <div class="col-sm-6">
                      <label for="name" class="form-label">نام</label>
                      <input type="text" class="form-control" id="name" placeholder="" value="{% if form.data.name %}{{ form.data.name }}{% else %}{{ form.initial.name }}{% endif %}" name="name" >
                    </div>
                    
                    <div class="col-sm-6">
                      <label for="manufacturer" class="form-label">تولید کننده</label>
                      <input type="text" class="form-control" id="manufacturer" placeholder="" value="{% if form.data.manufacturer %}{{ form.data.manufacturer }}{% else %}{{ form.initial.manufacturer }}{% endif %}" name="manufacturer" >
                    </div>

                    <div class="col-sm-6">
                        <label for="model" class="form-label">مدل</label>
                        <input type="text" class="form-control" id="model" placeholder="" value="{% if form.data.model %}{{ form.data.model }}{% else %}{{ form.initial.model }}{% endif %}" name="model" >
                      </div>
  
                      <div class="col-sm-6">
                        <label for="serial_number" class="form-label">شماره سریال</label>
                        <input type="text" class="form-control" id="serial_number" placeholder="" value="{% if form.data.serial_number %}{{ form.data.serial_number }}{% else %}{{ form.initial.serial_number }}{% endif %}" name="serial_number" >
                      </div>

                      <div class="col-sm-6">
                        <label for="acquisition_date" class="form-label"> تاریخ شروع استفاده از دستگاه</label>
                        <input type="text" class="form-control" id="acquisition_date" placeholder="" value="{% if form.data.acquisition_date %}{{ form.data.acquisition_date }}{% else %}{{ form.initial.acquisition_date }}{% endif %}" name="acquisition_date" data-jdp>
                      </div>

                      <div class="col-sm-6">
                        <label for="warranty_expiry_date" class="form-label">تاریخ اتمام گارانتی</label>
                        <input type="date" class="form-control" id="warranty_expiry_date" placeholder=""  value="{% if form.data.warranty_expiry_date %}{{ form.data.warranty_expiry_date }}{% else %}{{ form.initial.warranty_expiry_date }}{% endif %}" name="warranty_expiry_date" >
                      </div>

                      <div class="col-sm-6">
                        <label for="location" class="form-label">لوکیشن</label>
                        <input type="text" class="form-control" id="location" placeholder=""  value="{% if form.data.location %}{{ form.data.location }}{% else %}{{ form.initial.location }}{% endif %}" name="location" >
                      </div>

                      <div class="col-sm-6">
                        <label for="description" class="form-label">توضیحات</label>
                        <input type="text" class="form-control" id="description" placeholder=""  value="{% if form.data.description %}{{ form.data.description }}{% else %}{{ form.initial.description }}{% endif %}"  name="description" >
                      </div>
                      <div class="col-sm-6">
                        <label for="last_maintenance_date" class="form-label">تاریخ آخرین تعمیر</label>
                        <input type="text" class="form-control" id="last_maintenance_date" placeholder="" value="{% if form.data.last_maintenance_date %}{{ form.data.last_maintenance_date }}{% else %}{{ form.initial.last_maintenance_date }}{% endif %}"  name="last_maintenance_date" data-jdp >
                      </div>


                      <div class="col-sm-6">
                        <label  for="is_available">در دسترس
                        </label>
                        <select  class="form-select" name="is_available"  id="is_available">
                          <option value="true">بله</option>
                          <option value="false">خیر</option>
                        </select>
                        </div>
            

            <button class="w-100 btn btn-lg btn-outline-success" type="submit">ایجاد</button>
            <button class="w-100 btn btn-lg btn-outline-secondary mt-3" type="button" id="reset-button">بازنشانی</button>

          </form>
        </div>
      </div>
      <br><br>
      <br><br>

    </main>
</div>
<script>
  jalaliDatepicker.startWatch();
</script>
<script>
  // Function to reset the form fields
  function resetForm() {
      document.getElementById("equipment-form").reset();
  }

  // Add event listener to the reset button
  document.getElementById("reset-button").addEventListener("click", resetForm);
</script>
{%endblock%}