{% extends 'base_list.html' %}
{% block title %}لیست هزینه های مطب{% endblock %}
{%block list_title%}لیست هزینه های مطب{%endblock%}
{%block filter_field%}
<div class="col-sm-6">
  <label for="id" class="form-label">ID</label>
  <input  class="form-control" type="number" name="id" step="any" id="id"value="{{ request.GET.id }}" >
</div>

<div class="col-sm-6">
  <label  for="user">کاربر</label>
  <select  class="form-select" name="user"  id="user">
    <option value="" selected="">---------</option>
    {% for i in filter.form.user.field.queryset %}
    <option value="{{ i.id }}">{{ i.email }}</option>
  {%endfor%}
  </select>
  </div>


  <div class="col-sm-6">
      <label for="date" class="form-label">تاریخ</label>
      <input  class="form-control" type="date" name="date" step="any" id="date" value="{{ request.GET.date }}" >
    </div>

<div class="col-sm-6">
  <label for="date_range">محدوده زمانی</label>
  <select class="form-select" name="date_range" id="date_range">
    <option value="" selected>---------</option>
    <option value="today">امروز</option>
    <option value="this_week">هفته گذشته</option>
    <option value="this_month">ماه گذشته</option>
  </select>
</div>

<div class="col-sm-6">
  <label for="subject" class="form-label">موضوع</label>
  <input  class="form-control" type="text" name="subject" step="any" id="subject" value="{{ request.GET.subject }}" >
</div>


<div class="col-sm-6">
  <label for="recipient_name" class="form-label">نام دریافت کننده</label>
  <input  class="form-control" type="text" name="recipient_name" step="any" id="recipient_name" value="{{ request.GET.recipient_name }}" >
</div>



{%endblock%}
{%block buttons%} 
<form action="{% url 'financial:delete_selected_office_expenses' %}" method="post" id="deleteForm">
  {% csrf_token %}
<a href="{% url 'financial:office_expenses_create' %}" class="btn btn-success me-2">ایجاد رسید جدید </a>
<a href="{% url 'reports:office_expenses_reports' %}" class="btn btn-success me-2">گزارشات</a>
<button type="button" class="btn btn-success me-2" id="confirmDeleteBtn" style="display: none;">حذف</button> <!-- Delete button -->

{%endblock%}
{%block thead%}

<th scope="col"> </th>
<th scope="col">شماره رسید</th>
<th scope="col">موضوع</th>
<th scope="col">کاربر</th>
<th scope="col">تاریخ</th>
<th scope="col">نام دریافت کننده</th>
<th scope="col">اکشن ها</th>

{%endblock%}
{%block tbody%}
{%for i in office_expenses%}
<tr class="fw-normal">
  <td><input type="checkbox" name="ids" value="{{ i.id }}"></td> <!-- Checkbox -->
  <th>
    <span class="ms-2">{{i.id}}</span>
  </th>
  <td class="align-middle">
    <span>{{i.subject}}</span>
  </td>
  <td class="align-middle">
      <span>{{i.user}}</span>
    </td>

    <td class="align-middle">
      <span>{{i.date}}</span>
    </td>


    <td class="align-middle">
      <span>{{i.recipient_name}}</span>
    </td>


  <td class="align-middle">
      <a href="{%url 'financial:office_expenses_detail' i.id %}" data-mdb-toggle="tooltip" title="جزییات"> <i class="fas fa-info-circle"></i></a>
      <a href="{%url 'financial:office_expenses_update' i.id %}" data-mdb-toggle="tooltip" title="ویرایش"><i class="fas fa-edit" ></i></a>
  </td>
</tr>
{%endfor%}
{%endblock%}
{%block delete_content%}
صورتحساب های انتخاب شده به طور کامل از سیستم حذف می شوند
{%endblock%}