{%extends 'base_update.html' %}
{%block title %}ویرایش صورتحساب {{object}}{%endblock%}
{%block form_title %}ویرایش صورتحساب {{object}}{%endblock%}
{%block fields %} 
<div class="col-sm-6">
<label  for="user">کاربر:</label>
<select  class="form-select" name="user" required="" id="user">
<option value="" selected="">---------</option>
{% for i in form.user.field.queryset%}
{% if i == object.user %}
<option value={{i.id}} selected>{{i}}</option>
{% else %}
<option value={{i.id}} >{{i}}</option>
{%endif %}
{%endfor%}
</select>
</div>

<div class="col-sm-6">
<label for="date" class="form-label">تاریخ: </label>
<input type="text" class="form-control" id="date" placeholder="" value="{{object.date}}" name="date" data-jdp>
</div>

<div class="col-sm-6">
<label for="subject" class="form-label">موضوع: </label>
<input type="text" class="form-control" id="subject" placeholder="" value="{{object.subject}}" name="subject" >
</div>

<div class="col-sm-6">
<label for="amount" class="form-label">مبلغ: </label>
<input type="number" class="form-control" id="amount" placeholder="" value="{{object.amount}}" name="amount" >
</div>

<div class="col-sm-6">
<label for="recipient_name" class="form-label">نام دریافت کننده: </label>
<input type="text" class="form-control" id="recipient_name" placeholder="" value="{{object.recipient_name}}" name="recipient_name" >
</div>

<div class="col-sm-6">
<label for="payment_method" class="form-label">نوع پرداخت: </label>
<input type="text" class="form-control" id="payment_method" placeholder="" value="{{object.payment_method}}" name="payment_method" >
</div>


<div class="col-sm-6">
<label for="description" class="form-label">توضیحات: </label>
<input type="text" class="form-control" id="description" placeholder="" value="{{object.description}}" name="description" >
</div>

{%endblock%}