{%extends 'base_create.html' %}
{%block title %}ایجاد دسته بندی جدید{%endblock%}
{%block form_title %}ایجاد دسته بندی جدید{%endblock%}
{%block fields %} 
<div class="col-sm-6">
<label for="name" class="form-label">نام دسته بندی</label>
<input type="text" class="form-control" id="name" placeholder="" value="{% if form.data.name %}{{ form.data.name }}{% else %}{{ form.initial.name }}{% endif %}" name="name" >
</div>
<div class="col-sm-6">
<label for="note" class="form-label">یادداشت</label>
<input type="text" class="form-control" id="note" placeholder=""  value="{% if form.data.note %}{{ form.data.note }}{% else %}{{ form.initial.note }}{% endif %}" name="note" >
</div>
{%endblock%}