{% extends 'base.html' %}
    {%block title %}جزییات دسته بندی {{object}}{%endblock%}
{%block content%}



<div class="container mt-4">
    <h2>جزییات دسته بندی {{ object }}</h2>
    <br>

    <!-- Card for basic service details -->
    <div class="card mb-4">
        <div class="card-body">
            <div class="card-text">
                <div class="card-header"><strong>
                    اطلاعات
             </strong>  </div>
              <p class="card-text"><strong>شماره:</strong>{{object.id}}</p>
              <hr>
              <p class="card-text"><strong>نام:</strong>{{object.name}}</p>
              <hr>
              <p class="card-text"><strong>تعداد محصولات:</strong>{{object.consumable_count}}</p>
              <hr>

              <!-- Add other task details as needed -->
          </div>
          </div>
        </div>

        <!-- Buttons to change status, priority, add comment, etc. -->
        <div class="card mb-4">
            <div class="card-body">
                <div class="card-text">
            <a href="{% url 'consumable:category_update' object.id%}" class="btn btn-success me-2">ویرایش</a>
            <a href="#" data-toggle="modal" data-target="#exampleModal"  class="btn btn-success me-2" title="Delete" >حذف</a>
        </div>
</div>
</div>
        <div class="container mt-4">
            <h2>محصولات این دسته بندی</h2>
            <br>
        
            <!-- Card for basic service details -->
            <div class="card mb-4">
                <div class="card-body">
                    <div class="card-text">
                        <div class="card-header"><strong>
اطلاعات     
                     </strong>  </div>


                     <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th scope="col">ID</th>
                            <th scope="col">نام </th>
                            <th scope="col">واحد اندازه گیری </th>
                            <th scope="col">موجودی</th>
                            <th scope="col">اکشن ها</th>

                          </tr>
                        </thead>
                        <tbody>
                            {%for i in consumable%}
                          <tr class="fw-normal">
                              <td class="align-middle">
                                  <span>{{i.id}}</span>
                                </td>
                            <td class="align-middle">
                              <span>{{i.name}}</span>
                            </td>
                              <td class="align-middle">
                                <span>{{i.unit}}</span>
                              </td>
                              <td class="align-middle">
                                <span>{{i.quantity}}</span>
                              </td>
                             
                              <td class="align-middle">
                                <a href="{%url 'consumable:detail' i.id %}" data-mdb-toggle="tooltip" title="جزییات"> <i class="fas fa-info-circle"></i></a>
                              </td>
                          </tr>
                          {%endfor%}
                          </tbody>
                      </table>
                  </div>
                  </div>
                </div>




      <!-- DELETE MODALS -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">تایید حذف</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              از حذف این تامین کننده مطمین هستید ؟
            </div>
            <div class="modal-footer">
              <a class="btn btn-primary" href="{% url 'consumable:category_delete' pk=object.pk %}" class="btn">حذف</a>
          </div>
          </div>
        </div>
      </div>

</div>
</div>
</div>
    <!-- jQuery (needed for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{%endblock%}