{% extends 'base_list.html' %}
{% block title %}لیست  دسته بندی های مواد مصرفی{% endblock %}
{%block list_title%}لیست  دسته بندی های مواد مصرفی{%endblock%}
{%block filter_field%}
<div class="col-sm-6">
  <label for="id_id" class="form-label">Id</label>
  <input  class="form-control" type="number" name="id" step="any" id="id_id"value="{{ request.GET.id }}" >
</div>

<div class="col-sm-6">
  <label for="name" class="form-label">نام دسته بندی</label>
  <input  class="form-control" type="text" name="name" step="any" id="name" value="{{ request.GET.name }}" >
</div>

{%endblock%}
{%block buttons%} 
<form action="{% url 'consumable:delete_selected_category' %}" method="post" id="deleteForm">
  {% csrf_token %}
<a href="{% url 'consumable:create' %}" class="btn btn-success">افزودن دسته بندی جدید</a>
<button type="button" class="btn btn-success me-2" id="confirmDeleteBtn" style="display: none;">حذف</button> <!-- Delete button -->
{%endblock%}
{%block thead%}
<th scope="col"></th>
<th scope="col">ID</th>
<th scope="col">نام</th>
<th scope="col">تعداد محصولات</th>
<th scope="col">اکشن ها</th>

{%endblock%}
{%block tbody%}                        {%for i in category%}
<tr class="fw-normal">       
  <td><input type="checkbox" name="category_ids" value="{{ i.id }}"></td> <!-- Checkbox -->
  <td class="align-middle">
    <span>{{i.id}}</span>
  </td>
  <td class="align-middle">
    <span>{{i.name}}</span>
  </td>
  <td class="align-middle">
    <span> {{i.consumable_count}} </span>
  </td>


  <td class="align-middle">
    <a href="{%url 'consumable:category_detail' i.id %}" data-mdb-toggle="tooltip" title="جزییات"> <i class="fas fa-info-circle"></i></a>
    <a href="{%url 'consumable:category_update' i.id %}" data-mdb-toggle="tooltip" title="ویرایش"><i class="fas fa-edit" ></i></a>
  </td>
</tr>
{%endfor%}
{%endfor%}
{%endblock%}
{%block delete_content%}
موارد انتخاب شده به طور کامل از سیستم حذف می شوند
{%endblock%}