{% extends 'base.html'%}
{% block title %}لیست دسته بندی سرویس ها{% endblock %}

{%block content%}
    <section class="vh-100 gradient-custom-2" style="margin-bottom: 35%;">
        <div class="container py-5 h-100">
          <div class="text-center pt-3 pb-2">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-todo-list/check1.webp"
              alt="Check" width="60">
            <h2 class="my-4">لیست  دسته بندی سرویس ها</h2>
          </div>
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-12 col-xl-10">
              <div class="card mask-custom">
                <div class="card-body p-4 text-white">
                  <form class="table text-white mb-0" method="get">
                    {%csrf_token%}
                    <div class="row g-3">
                      <div class="col-sm-6">
                        <label for="id" class="form-label">ID</label>
                        <input  class="form-control" type="number" name="id" step="any" id="id"value="{{ request.GET.id }}" >
                      </div>
          
                      <div class="col-sm-6">
                        <label for="name" class="form-label">نام دسته بندی</label>
                        <input  class="form-control" type="text" name="name" step="any" id="name" value="{{ request.GET.name }}" >
                      </div>

                      <div class="col-sm-6">
                        <label  for="is_active">فعال</label>
                        <select  class="form-select" name="is_active"  id="is_active">
                          <option value="" selected="">---------</option>
                          <option value="true">بله</option>
                          <option value="false">خیر</option>
                        </select>
                        </div>

          

                      <button class="w-100 btn btn-lg btn-outline-success" type="submit">جستجو</button>
                    </form>

                    <div class="mb-4">
                    <a href="{% url 'services:category_create' %}" class="btn btn-success me-2">ایجاد دسته بندی جدید</a>
                    <a href="{% url 'services:list' %}" class="btn btn-success me-2">لیست سرویس ها</a>
                    <a href="#" class="btn btn-success me-2">گزارشات</a>
                    </div>

                  <table class="table text-white mb-0">
                    <thead>
                      <tr>
                        <th scope="col">شماره دسته بندی</th>
                        <th scope="col">نام دسته بندی</th>
                        <th scope="col">تعداد سرویس ها</th>
                        <th scope="col">  تعداد پذیرش های امروز</th>
                        <th scope="col">تعداد کل پذیرش ها</th>
                        <th scope="col"> تعداد نوبت های رزرو شده</th>
                        <th scope="col">اکشن ها</th>
                      </tr>
                    </thead>
                    <tbody>
                        {%for i in category%}
                      <tr class="fw-normal">
                        <th>
                          <span class="ms-2">{{i.id}}</span>
                        </th>
                        <td class="align-middle">
                          <span>{{i.name}}</span>
                        </td>
                        <td class="align-middle">
                            <span>{{i.number_of_services}}</span>
                          </td>

                          <td class="align-middle">
                            <span>{{i.receptions_today}}</span>
                          </td>


                          <td class="align-middle">
                            <span>{{i.total_receptions}}</span>
                          </td>



                          <td class="align-middle">
                            <span>{{i.number_of_appointments}}</span>
                          </td>


                          number_of_appointments
                        <td class="align-middle">
                            <a href="{%url 'services:category_detail' i.id %}" data-mdb-toggle="tooltip" title="جزییات"> <i class="fas fa-info-circle"></i></a>
                            <a href="{%url 'services:category_update' i.id %}" data-mdb-toggle="tooltip" title="ویرایش"><i class="fas fa-edit" ></i></a>
                        </td>
                      </tr>
                      {%endfor%}
                      </tbody>
                  </table>

            
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
                </div>
              </div>
      
            </div>
          </div>
        </div>
      </section>
{%endblock%}
