{% extends 'base_list.html' %}
{% block title %}لیست دسته بندی سرویس ها{% endblock %}
{%block list_title%}لیست سرویس ها{%endblock%}
{%block filter_field%}
<div class="row g-3">
  <div class="col-sm-6">
    <label for="id" class="form-label">ID</label>
    <input  class="form-control" type="number" name="id" step="any" id="id"value="{{ request.GET.id }}" >
  </div>

  <div class="col-sm-6">
    <label for="name" class="form-label">نام دسته بندی</label>
    <input  class="form-control" type="text" name="name" step="any" id="name" value="{{ request.GET.name }}" >
  </div>

  <div class="col-sm-6">
    <label  for="is_active">فعال</label>
    <select  class="form-select" name="is_active"  id="is_active">
      <option value="" selected="">---------</option>
      <option value="true">بله</option>
      <option value="false">خیر</option>
    </select>
    </div>

{%endblock%}
{%block buttons%} 
<form action="{% url 'services:delete_selected_category' %}" method="post" id="deleteForm">
  {% csrf_token %}
<a href="{% url 'services:category_create' %}" class="btn btn-success me-2">ایجاد دسته بندی جدید</a>
<a href="{% url 'services:list' %}" class="btn btn-success me-2">لیست سرویس ها</a>
<a href="#" class="btn btn-success me-2">گزارشات</a>
<button type="button" class="btn btn-success me-2" id="confirmDeleteBtn" style="display: none;">حذف</button> <!-- Delete button -->

{%endblock%}
{%block thead%}

<th scope="col"><input type="checkbox" id="selectAll"></th>
<th scope="col">شماره دسته بندی</th>
<th scope="col">نام دسته بندی</th>
<th scope="col">تعداد سرویس ها</th>
<th scope="col">  تعداد پذیرش های امروز</th>
<th scope="col">تعداد کل پذیرش ها</th>
<th scope="col"> تعداد نوبت های رزرو شده</th>
<th scope="col">اکشن ها</th>

{%endblock%}
{%block tbody%} 
{%for i in category%}
<tr class="fw-normal">
  <td><input type="checkbox" name="category_ids" value="{{ i.id }}" class="-checkbox"> </td> <!-- Checkbox -->

  <th>
    <span class="ms-2">{{i.id}}</span>
  </th>
  <td class="align-middle">
    <span>{{i.name}}</span>
  </td>
  <td class="align-middle">
      <span>{{i.number_of_services}}</span>
    </td>

    <td class="align-middle">
      <span>{{i.receptions_today}}</span>
    </td>


    <td class="align-middle">
      <span>{{i.total_receptions}}</span>
    </td>



    <td class="align-middle">
      <span>{{i.number_of_appointments}}</span>
    </td>


  <td class="align-middle">
      <a href="{%url 'services:category_detail' i.id %}" data-mdb-toggle="tooltip" title="جزییات"> <i class="fas fa-info-circle"></i></a>
      <a href="{%url 'services:category_update' i.id %}" data-mdb-toggle="tooltip" title="ویرایش"><i class="fas fa-edit" ></i></a>
  </td>
</tr>
{%endfor%}
<script>
  // JavaScript for Select All functionality
  document.getElementById('selectAll').addEventListener('change', function() {
      var checkboxes = document.querySelectorAll('.-checkbox');
      for (var checkbox of checkboxes) {
        checkbox.checked = this.checked;
      }
    });
  
    // Show/Hide Delete Button based on checkbox selection
    var checkboxes = document.querySelectorAll('.-checkbox');
    for (var checkbox of checkboxes) {
      checkbox.addEventListener('change', function() {
        var anyChecked = Array.from(checkboxes).some(cb => cb.checked);
        document.getElementById('confirmDeleteBtn').style.display = anyChecked ? 'block' : 'none';
      });
    }
  
    // Initial check to show/hide the delete button
    var anyChecked = Array.from(checkboxes).some(cb => cb.checked);
    document.getElementById('confirmDeleteBtn').style.display = anyChecked ? 'block' : 'none';
  </script>
  
{%endblock%}

{%block delete_content%}
دسته بندی های انتخاب شده به طور کامل از سیستم حذف می شوند
{%endblock%}