{%extends 'base_update.html' %}
{%block title %}ویرایش دسته بندی {{object}}{%endblock%}
{%block form_title %}ویرایش دسته بندی {{object}}{%endblock%}
{%block fields %} 
<div class="col-sm-6">
<label for="name" class="form-label">نام دسته بندی</label>
<input type="text" class="form-control" id="name" placeholder="" value="{{object.name}}" name="name" >
</div>

<div class="col-sm-6">
<label for="description" class="form-label">توضیحات</label>
<input type="text" class="form-control" id="description" placeholder="" value="{{object.description}}" name="description" >
</div>


<div class="col-sm-6">
<label  for="is_active">فعال:</label>
<select  class="form-select" name="is_active" required="" id="is_active">

{% if object.is_active == True%}
<option value="true" selected>بله</option>
<option value="false">خیر</option>
{% else %}
<option value="true" >بله</option>
<option value="false" selected>خیر</option>
{% endif %}
</select>
</div>
    

{%endblock%}