{% extends 'base.html' %}
    {%block title %}جزییات پکیج {{object}}{%endblock%}
{%block content%}



<div class="container mt-4">
    <h2>جزییات پکیج {{ object }}</h2>
    <br>

    <!-- Card for basic service details -->
    <div class="card mb-4">
        <div class="card-body">
            <div class="card-text">
                <div class="card-header"><strong>
                     اطلاعات
             </strong>  </div>
              <p class="card-text"><strong>شماره پکیج:</strong>{{object.id}}</p>
              <hr>
              <p class="card-text"><strong>نام پکیج:</strong>{{object.name}}</p>
              <hr>
              <p class="card-text"><strong>توضیحات:</strong>{{object.description}}</p>
              <hr>
              <p class="card-text"><strong>مدت زمان: </strong>{{object.duration}}</p>
              <hr>
              <p class="card-text"><strong>هزینه پکیج: </strong>{{object.calculate_price}}</p>
              <hr>
              <p class="card-text"><strong>دستورالعمل آماده سازی: </strong>{{object.preparation_instructions}}</p>
              <hr>
              <p class="card-text"><strong>تاریخ ایجاد: </strong>{{object.created_at}}</p>
              <hr>
              <p class="card-text"><strong>تاریخ آخرین تغییر: </strong>%{{object.updated_at}}</p>
              <hr>
              <p class="card-text"><strong>فعال: </strong>{{object.is_active}}</p>
              <hr>
              <p class="card-text"><strong>اقدامات درمانی: </strong>{{object.therapeutic_measures}}</p>
              <hr>
              <!-- Add other task details as needed -->
          </div>
          </div>
        </div>




        <div class="card mb-4">
            <div class="card-body">
                <div class="card-text">
                <div class="card-header"><strong>
                    سرویس های ارایه شده پکیج
                </strong>  </div>

                {%for i in object.services.all%}
                    <p>{{i}}</p>
                    <hr>
                {% empty %}
                <p>روز تعطیل یافت نشد</p>
                {% endfor %}
        </div>
      </div>  
    </div>

    

        <!-- Buttons to change status, priority, add comment, etc. -->
        <div class="card mb-4">
            <div class="card-body">
                <div class="card-text">
            <a href="{% url 'services:package_update' object.id%}" class="btn btn-success me-2">ویرایش</a>

            {% if object.is_active == True%}
            <a href="#" data-toggle="modal" data-target="#suspendModal"  class="btn btn-success me-2" title="suspend" >تعلیق پکیج</a>
            {%else%}
            <a href="#" data-toggle="modal" data-target="#reactiveModal"  class="btn btn-success me-2" title="reactive" >فعال سازی مجدد</a>
            {%endif%}
            <a href="#" data-toggle="modal" data-target="#exampleModal"  class="btn btn-success me-2" title="Delete" >حذف</a>
        </div>



      <!-- DELETE MODALS -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">تایید حذف</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              از حذف این پکیج مطمین هستید ؟
            </div>
            <div class="modal-footer">
              <a class="btn btn-primary" href="{% url 'services:package_delete' pk=object.pk %}" class="btn">حذف</a>
          </div>
          </div>
        </div>
      </div>

      <!-- SUSPEND MODALS -->
      <div class="modal fade" id="suspendModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">تایید تعلیق پکیج</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              آیا از غیرفعال سازی پکیج مطمین هستید؟
            </div>
            <div class="modal-footer">
              <a class="btn btn-primary" href="{% url 'services:package_suspend' pk=object.pk %}" class="btn">تایید</a>
          </div>
          </div>
        </div>
      </div>

        <!-- REACTIVE MODALS -->
        <div class="modal fade" id="reactiveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">تایید تعلیق پکیج</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    آیا از فعال سازی مجدد پکیج مطمین هستید؟
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" href="{% url 'services:package_reactive' pk=object.pk %}" class="btn">تایید</a>
                </div>
                </div>
            </div>
            </div>
</div>
    <!-- jQuery (needed for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{%endblock%}