{%extends 'base.html' %}
{%block title %}ویرایش پکیج {{object}}{%endblock%}
{%block content %} 
<div class="container">
    <main>
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-todo-list/check1.webp" alt="" width="62" height="47">
        <h2>ویرایش پکیج {{object}}</h2>
      </div>

        <div class="col-md-7 col-lg-8">
          <h4 class="mb-3">اطلاعات</h4>
          <form class="needs-validation" method="post" enctype="multipart/form-data">
            {%csrf_token%}
            <div class="row g-3">
                <div class="row g-3">
                    <div class="col-sm-6">
                      <label for="name" class="form-label">نام پکیج</label>
                      <input type="text" class="form-control" id="name" placeholder="" value="{{object.name}}" name="name" >
                    </div>




                        <div class="col-sm-6">
                            <label for="description" class="form-label">توضیحات</label>
                            <input type="text" class="form-control" id="description" placeholder="" value="{{object.description}}" name="description" >
                          </div>
      
                          <div class="col-sm-6">
                            <label for="preparation_instructions" class="form-label">دستورالعمل های آماده سازی</label>
                            <input type="text" class="form-control" id="preparation_instructions" placeholder="" value="{{object.preparation_instructions}}" name="preparation_instructions" >
                          </div>


                        <div class="col-sm-6">
                            <label  for="is_active">فعال:</label>
                            <select  class="form-select" name="is_active" required="" id="is_active">
                              <option value="" selected="">---------</option>
                              {% if object.is_active == True%}
                              <option value="true" selected>بله</option>
                              <option value="false">خیر</option>
                              {%else%}
                              <option value="true" >بله</option>
                              <option value="false"selected>خیر</option>
                              {%endif%}
                            </select>
                            </div>
                            
                            <div class="col-sm-6">
                              <label class="form-label">تصویر:</label>
                              {% if object.image %}
                                  <img src="{{ object.image.url }}" alt="{{ object.name }}" style="max-width: 100px; max-height: 100px;">
                              {% else %}
                                  <p>No image uploaded</p>
                              {% endif %}
                              <input type="file" class="form-control" id="customFile" name="image" />
                          </div>

                            <div class="col-sm-6">
                              <label class="form-label">پیوست:</label>
                              {% if object.attachment %}
                                  <p>{{ object.attachment.name }}</p>
                                  <a href="{{ object.attachment.url }}">Download Attachment</a>
                              {% else %}
                                  <p>No attachment uploaded</p>
                              {% endif %}
                              <input type="file" class="form-control" id="customFile" name="attachment" />
                          </div>

            <button class="w-100 btn btn-lg btn-outline-success" type="submit">ویرایش</button>
          </form>
        </div>
      </div>
      <br><br>
      <br><br>
    </main>
</div>
{%endblock%}