{% extends "base.html" %}
{% load i18n %}
{% load two_factor_tags %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-body">
  <h1>{% block title %}{% trans "امنیت حساب کاربری" %}{% endblock %}</h1>

  {% if default_device %}
    <p>{% blocktrans with primary=default_device|as_action %}متد اصلی: توکن تولید شده توسط سازنده توکن خود را وارد کنید{% endblocktrans %}</p>
<hr>
    {% if available_phone_methods %}
      <h2>{% trans "Backup Phone Numbers" %}</h2>
      <p>{% blocktrans trimmed %}If your primary method is not available, we are able to
        send backup tokens to the phone numbers listed below.{% endblocktrans %}</p>
      <ul>
        {% for phone in backup_phones %}
          <li>
            {{ phone|as_action }}
            <form method="post" action="{% url 'two_factor:phone_delete' phone.id %}"
                  onsubmit="return confirm({% trans 'Are you sure?' %})">
              {% csrf_token %}
              <button class="btn btn-sm btn-warning"
                      type="submit">{% trans "Unregister" %}</button>
            </form>
          </li>
        {% endfor %}
      </ul>
      <p><a href="{% url 'two_factor:phone_create' %}"
        class="btn btn-info">{% trans "Add Phone Number" %}</a></p>
    {% endif %}

    <h2>{% trans "رمز دوم جایگزین" %}</h2>
    <p>
      {% blocktrans trimmed %}اگر دستگاهی همراه خود ندارید، می توانید با استفاده از توکن های پشتیبان به حساب خود دسترسی داشته باشید...{% endblocktrans %}
      {% blocktrans trimmed count counter=backup_tokens %}
شما فقط یک رمز دوم جایگزین باقی مانده دارید.
      {% plural %}
        تعداد {{ counter }} رمز دوم جایگزین باقیمانده دارید
      {% endblocktrans %}
    </p>
    <p><a href="{% url 'two_factor:backup_tokens' %}"
          class="btn btn-info">{% trans "نمایش رمز" %}</a></p>
<hr>
    <h3>{% trans "غیرفعال سازی تایید دو مرحله ای" %}</h3>
    <p>{% blocktrans trimmed %} لطفا در نظر داشته باشید که در صورت غیرفعال سازی تایید دو مرحله ای امنیت حساب شما پایین خواهد آمد .{% endblocktrans %}</p>
    <p><a class="btn btn-secondary" href="{% url 'two_factor:disable' %}">
      {% trans "تایید غیرفعال سازی" %}</a></p>
  {% else %}
    <p>{% blocktrans trimmed %}تایید دو مرحله ای حساب کاربری برای شما فعال نیست
    {% endblocktrans %}</p>
    <p><a href="{% url 'two_factor:setup' %}" class="btn btn-primary">
      {% trans "فعال سازی تایید دو مرحله ای" %}</a>
    </p>
  {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
