<a href="{% url 'asset:create' %}">Add Consumable</a><br>
<form action="" method="get">
    {%csrf_token%}
    {{filter.form.as_p}}
    <input type="submit">
</form>
<a href="{% url 'reports:consumable_reports' %}">reports</a>
{%for i in consumable%}
    {{i.id}}.{{i.name}},
    <a href="{% url 'asset:detail' i.pk %}">Details</a>,
    <a href="{% url 'asset:update' i.pk %}">Update</a>,
    <a href="{% url 'asset:inventory_tracking_number' i.pk %}">Update Inventory Tracking Number</a>,
    <a href="{% url 'asset:delete' i.pk %}">Delete</a><br>
{% endfor %}