{%extends 'base.html' %}
    {%block head%}تغییر رمز ورود{%endblock%}

  {%block content%}  
<div class="container">
  <form method="post" style="margin-left: 20%; margin-right: 20%; padding-bottom: 20%;">
    <div class="text-center pt-3 pb-2">
      <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-todo-list/check1.webp"
        alt="Check" width="60">
      <h2 class="my-4">تغییر رمز ورود</h2>
    </div>
    {% csrf_token %}
    <div class="mb-3" >
        <label for="inputPassword5" class="form-label">رمزعبور فعلی</label>
        <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" name="old_password">

    <label for="inputPassword5" class="form-label">رمزعبور جدید</label>
    <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" name="new_password1">
    <div id="passwordHelpBlock" class="form-text">
      <ul>
        <li>رمز عبور نمی تواند خیلی شبیه سایر اطلاعات شخصی شما باشد.</li>
        <li>رمز عبور باید حداقل 8 کاراکتر داشته باشد.</li>
        <li>رمز عبور نمی تواند یک رمز عبور رایج باشد</li>
        <li>رمز عبور نمی تواند کاملاً عددی باشد.</li>
      </ul>
    </div>
    <label for="inputPassword5" class="form-label">تایید رمزعبور جدید</label>
    <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" name="new_password2">
    <br>
    <div id="passwordHelpBlock" class="form-text">

    </div>
    <button type="submit" class="btn btn-outline-success">ذخیره تغییرات</button>
  </form>
</div>
</div>
{%endblock%}