{% extends 'base.html' %}

{% block title %}تاریخچه پیامک های ارسال شده {% endblock %}

{% block content %}
<div class="py-5 text-center">
  <img class="d-block mx-auto mb-4" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-todo-list/check1.webp" alt="" width="62" height="47">
  <h2>تاریخچه پیامک های ارسال شده به  {{user}}</h2>
</div>


<div class="row d-flex justify-content-center align-items-center h-100">
  <div class="col-md-12 col-xl-10">
    <div class="card mask-custom">
      <div class="card-body p-4 text-white">
        <form class="table text-white mb-0" method="get">
          {%csrf_token%}
          
          <div class="row g-3">




            <div class="col-sm-6">
                <label for="subject" class="form-label">عنوان</label>
                <input  class="form-control" type="text" name="subject" step="any" id="subject" value="{{ request.GET.subject }}" >
              </div>
  


            <div class="col-sm-6">
              <label for="date" class="form-label">تاریخ</label>
              <input  class="form-control" type="date" name="date" step="any" id="date" value="{{ request.GET.date }}" >
            </div>

           
            <button class="w-100 btn btn-lg btn-outline-success" type="submit">جستجو</button>
          </form>

          <div class="mb-4">
            <a href="#" class="btn btn-success me-2">گزارشات</a>
            </div>


<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">سرشماره </th>
      <th scope="col">شماره دریافت کننده</th>
      <th scope="col">عنوان</th>
      <th scope="col">وضعیت ارسال</th>
      <th scope="col">تاریخ</th>
      <th scope="col">اکشن</th>
    </tr>
  </thead>
  <tbody>
      {%for i in object_list%}
    <tr class="fw-normal">
        <td class="align-middle">
            <span>{{i.id}}</span>
          </td>
      <td class="align-middle">
        <span>{{i.sender_number}}</span>
      </td>
      <td class="align-middle">
          <span>{{i.receiver_number}}</span>
        </td>
        <td class="align-middle">
          <span>{{i.subject}}</span>
        </td>
        <td class="align-middle">
            <span>{{i.status}}</span>
          </td>
        <td class="align-middle" >
          <span>{{i.created_at.date}}</span>
        </td>
        <td class="align-middle">
          <span>
            <a href="#" class="btn btn-outline-success btn-sm">جزییات</a>
        </span>
        </td>
    </tr>
    {%endfor%}
    </tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}
