{% extends 'base_list.html' %}
{% block title %}لیست مواد مصرفی{% endblock %}
{%block list_title%}لیست مواد مصرفی{%endblock%}
{%block filter_field%}
<div class="col-sm-6">
  <label for="id_id" class="form-label">Id</label>
  <input  class="form-control" type="number" name="id" step="any" id="id_id"value="{{ request.GET.id }}" >
</div>



<div class="col-sm-6">
  <label for="name" class="form-label">نام</label>
  <input  class="form-control" type="text" name="name" step="any" id="name" value="{{ request.GET.name }}" >
</div>


                      
<div class="col-sm-6">
  <label for="service">دسته بندی </label>
  <select class="form-select" name="service" id="service">
    <option value="" selected>---------</option>
    {% for i in filter.form.category.field.queryset %}
      <option value="{{ i.id }}">{{ i.name }}</option>
    {% endfor %}
  </select>
</div>


<div class="col-sm-6">
  <label for="created_by_email" class="form-label">ایمیل ایجاد کننده
  </label>
  <input  class="form-control" type="text" name="created_by_email" step="any" id="created_by_email" value="{{ request.GET.created_by_email }}" >
</div>

<div class="col-sm-6">
  <label for="date" class="form-label">تاریخ</label>
  <input  class="form-control" type="date" name="date" step="any" id="date" value="{{ request.GET.date }}" >
</div>


{%endblock%}
{%block buttons%} 
<div class="mb-4">
  <form action="{% url 'consumable:delete_selected_consumable' %}" method="post" id="deleteForm">
    {% csrf_token %}
    {% if perms.consumable.add_consumablev2%}
  <a href="{% url 'consumable:create' %}" class="btn btn-success"> افزودن مواد مصرفی جدید</a>
  {%endif%}
  {% if perms.accounts.view_reports%}
  <a href="{% url 'reports:consumable_reports'%}" class="btn btn-success me-2">گزارشات</a>
  {%endif%}
  {%if perms.consumable.delete_consumablev2%}
  <button type="button" class="btn btn-success me-2" id="confirmDeleteBtn" style="display: none;">حذف</button>
  {%endif%}
{%endblock%}
{%block thead%}
<th scope="col"><input type="checkbox" id="selectAll"></th>
<th scope="col">ID</th>
<th scope="col">نام</th>
<th scope="col">دسته بندی</th>
<th scope="col">موجودی</th>
<th scope="col">اکشن ها</th>

{%endblock%}
{%block tbody%}

{%for i in consumable%}
<tr class="fw-normal">       
  <td><input type="checkbox" name="consumable_ids" value="{{ i.id }}" class="-checkbox"></td> <!-- Checkbox -->
  <td class="align-middle">
    <span>{{i.id}}</span>
  </td>
  <td class="align-middle">
    <span>{{i.name}}</span>
  </td>
  <td class="align-middle">
    <span> {{i.category|default_if_none:"-"}} </span>
  </td>
  <td class="align-middle">
      <span>{{i.quantity}}</span>
    </td>

  <td class="align-middle">
    <a href="{%url 'consumable:detail' i.id %}" data-mdb-toggle="tooltip" title="جزییات"> <i class="fas fa-info-circle"></i></a>
    {%if perms.consumable.change_consumablev2%}
    <a href="{%url 'consumable:update' i.id %}" data-mdb-toggle="tooltip" title="ویرایش"><i class="fas fa-edit" ></i></a>
    {%endif%}
  </td>
</tr> 
{% empty%}
<th></th>
<th></th>
<th></th>
<th><span>یافت نشد</span></th>
<th></th>
<th></th>
{%endfor%}
<script>
  // JavaScript for Select All functionality
  document.getElementById('selectAll').addEventListener('change', function() {
      var checkboxes = document.querySelectorAll('.-checkbox');
      for (var checkbox of checkboxes) {
        checkbox.checked = this.checked;
      }
    });
  
    // Show/Hide Delete Button based on checkbox selection
    var checkboxes = document.querySelectorAll('.-checkbox');
    for (var checkbox of checkboxes) {
      checkbox.addEventListener('change', function() {
        var anyChecked = Array.from(checkboxes).some(cb => cb.checked);
        document.getElementById('confirmDeleteBtn').style.display = anyChecked ? 'block' : 'none';
      });
    }
  
    // Initial check to show/hide the delete button
    var anyChecked = Array.from(checkboxes).some(cb => cb.checked);
    document.getElementById('confirmDeleteBtn').style.display = anyChecked ? 'block' : 'none';
  </script>
  
  
{%endblock%}
{%block delete_content%}
موارد انتخاب شده به طور کامل از سیستم حذف می شوند
{%endblock%}