<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Confirmation</title>
</head>
<body>
    <form action="" method="post">
        {%csrf_token%}
        <p>Are you sure you want to delete this instance</p>
        <input type="submit" value="Yes, Delete">
    </form>
</body>
</html>



<a href="{% url 'consumable:create' %}">Add Consumable</a><br>
<form action="" method="get">
    {%csrf_token%}
    {{filter.form.as_p}}
    <input type="submit">
</form>
{%for i in consumable%}
    {{i.id}}.{{i.name}},,,,,,,,,,,,,,,,QUANTITY {{i.quantity}}..........
    <a href="{% url 'consumable:detail' i.pk %}">Details</a>,
    <a href="{% url 'consumable:update' i.pk %}">Update</a>,
    <a href="{% url 'consumable:delete' i.pk %}">Delete</a><br>
{% endfor %}