{%extends 'base.html'%}
{% block content%}
Welcome {{user}} <br>
<a href="{% url 'accounts:user_list'%}"> user list</a> <br>
<a href="{% url 'client:list'%}"> Client list</a> <br>
<a href="{% url 'doctor:list'%}"> Doctor list</a> <br>
<a href="{% url 'reception:list'%}"> recent reception</a> <br>
<a href="{% url 'prescription:list'%}"> recent Prescription</a> <br>
<a href="{% url 'reception:waiting_list'%}"> Waiting reception</a> <br>
<a href="{% url 'insurance:list'%}">Insurance list</a> <br>
<a href="{% url 'services:list'%}">Services list</a> <br>
<a href="{% url 'financial:list'%}">Financial</a> <br>
<a href="{% url 'insurance:service_insurance_list' %}">Service Insurance List</a> <br>
<a href="{% url 'asset:list'%}">consumable list</a> <br>
<a href="{% url 'asset:category_list'%}">consumable  Category list</a> <br>
<a href="{% url 'asset:supplier_list'%}">Supplier list</a> <br>
<a href="{% url 'accounts:logout'%}">Logout</a>
{%endblock%}






<a href="{% url 'accounts:user_create' %}">Create User</a><br>
<form action="" method="get">
    {%csrf_token%}
    {{filter.form.as_p}}
    <input type="submit">
</form>
{%for i in users%}
    {{i.id}}.{{i.email}},
        <a href="{% url 'accounts:user_detail' i.pk %}">Details</a>,
        <a href="{% url 'accounts:user_update' i.pk %}">Update</a>,
        <a href="{% url 'accounts:user_delete' i.pk %}">Delete</a>,
        <a href="{% url 'accounts:suspend' i.pk %}">Suspend</a>,
        <br>
{% endfor %}