Welcome {{user}} <br>
<a href="{% url 'accounts:user_list'%}"> user list</a> <br>
<a href="{% url 'client:list'%}"> Client list</a> <br>
<a href="{% url 'doctor:list'%}"> Doctor list</a> <br>
<a href="{% url 'reception:list'%}"> recent reception</a> <br>
<a href="{% url 'reception:waiting_list'%}"> Waiting reception</a> <br>
<a href="{% url 'insurance:list'%}">Insurance list</a> <br>
<a href="{% url 'services:list'%}">Services list</a> <br>
<a href="{% url 'asset:list'%}">consumable list</a> <br>
<a href="{% url 'asset:category_list'%}">consumable  Category list</a> <br>
<a href="{% url 'asset:supplier_list'%}">Supplier list</a> <br>
<a href="{% url 'accounts:logout'%}">Logout</a>