<h2>performance management report</h2>
<!-- USERS -->
<p>total user = {{total_users}}</p>
<p>active user = {{active_users}}</p>
<p>accounts suspensions = {{accounts_suspensions}}</p>
<p> inactive_accounts = {{inactive_accounts}}</p>
<p>new users = {{new_users}}</p>
<!-- EQUIPMENTS -->
<p>total_equipment = {{total_equipment}}</p>
<p>equipment_utilization = {{equipment_utilization}} %</p>
<p>new_equipment = {{new_equipment}}</p>
<!-- APPOINTMENTS -->
<p>total_appointments = {{total_appointments}}</p>
<p>Completed Appointments = {{completed_appointments}}</p>
<p> missed_appointments = {{missed_appointments}}</p>
<p> cancelled_appointments = {{cancelled_appointments}}</p>
<!-- CLIENTS -->
<p>total_clients = {{total_clients}}</p>
<p>new_clients = {{new_clients}}</p>
<p>client_retention = {{client_retention}}</p>
<p>average_receptions_per_client = {{average_receptions_per_client}}</p>
<!-- CONSUMABLES -->
<p>total_consumables = {{total_consumables}}</p>
<p>low_stock_items = {{low_stock_items}}</p>
<p>new_consumable = {{new_consumable}}</p>
<p>expired_items = {{expired_items}}</p>
<p>total_expenditure = {{total_expenditure}}</p>
<!-- SUPPLIERS -->
<p>total_suppliers = {{total_suppliers}}</p>
<p>new_suppliers = {{new_suppliers}}</p>
<!-- DOCTORS -->
<p>total_doctors = {{total_doctors}}</p>
<p>new_doctors = {{new_doctors}}</p>
<p>average_appointments_per_doctor = {{average_appointments_per_doctor}}</p>
<!-- INVOICE -->
<p>total_invoices = {{total_invoices}}</p>
<p>paid_invoices = {{paid_invoices}}</p>
<p>unpaid_invoices = {{unpaid_invoices}}</p>
<p>average_invoice_value = {{average_invoice_value}}</p>
<p>total_invoice_amount = {{total_invoice_amount}}</p>
<p>average_invoices_per_client = {{average_invoices_per_client}}</p>
<!-- OFFICE EXPENSES -->
<p>total_expenses = {{total_expenses}}</p>
<!-- PRESCRIPTION -->
<p>total_prescription= {{total_prescription}}</p>
<p>average_prescriptions_per_doctor= {{average_prescriptions_per_doctor}}</p>
<p>new_prescription= {{new_prescription}}</p>
<p>average_prescriptions_per_client= {{average_prescriptions_per_client}}</p>
<!-- RECEPTION -->
<p>total_reception= {{total_reception}}</p>
<!-- SERVICE -->
<p>total_service= {{total_service}}</p>
<p>new_service= {{new_service}}</p>
<!-- TASk -->
<p>total_task= {{total_task}}</p>
<p>completed_task= {{completed_task}}</p>
