<h2>performance management report</h2>
<!-- USERS -->
<p>total user = {{total_users}}</p>
<p>active user = {{active_users}}</p>
<p>accounts suspensions = {{accounts_suspensions}}</p>
<p> inactive_accounts = {{inactive_accounts}}</p>
<p>new users = {{new_users}}</p>
<!-- EQUIPMENTS -->
<p>total_equipment = {{total_equipment}}</p>
<p>equipment_utilization = {{equipment_utilization}} %</p>
<p>new_equipment = {{new_equipment}}</p>
<!-- APPOINTMENTS -->
<p>total_appointments = {{total_appointments}}</p>
<p>Completed Appointments = {{completed_appointments}}</p>
<p> missed_appointments = {{missed_appointments}}</p>
<p> cancelled_appointments = {{cancelled_appointments}}</p>
<!-- CLIENTS -->
<p>total_clients = {{total_clients}}</p>
<p>new_clients = {{new_clients}}</p>
<p>client_retention = {{client_retention}}</p>
<p>average_receptions_per_client = {{average_receptions_per_client}}</p>
