{% extends "base.html" %}

{% load i18n %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center" style="margin-bottom: 30%;">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-body">
  <h1>{% block title %}{% trans "رمز دوم جایگزین" %}{% endblock %}</h1>
  <p>{% blocktrans trimmed %}زمانی که شماره تلفن اصلی و پشتیبان شما در دسترس نباشد، می‌توان از  رمز دوم جایگزین استفاده کرد.این رمز ها  را می توان برای تأیید ورود استفاده کرد. اگر تمام رمز دوم های جایگزین خود را استفاده کرده اید، می توانید مجموعه جدیدی از رمز های جدید  تولید کنید. فقط   رمز های  نشان داده شده در زیر معتبر خواهند بود.{% endblocktrans %}</p>

  {% if device.token_set.count %}
    <ul>
      {% for token in device.token_set.all %}
        <li>{{ token.token }}</li>
      {% endfor %}
    </ul>
    <p>{% blocktrans %}رمز های اعلام شده را در جایی امن نگه دارید{% endblocktrans %}</p>  {% else %}
    <p>{% trans "شما هیج رمز دوم جایگزینی ندارید." %}</p>
  {% endif %}

  <form method="post">{% csrf_token %}{{ form.as_p }}
    <a href="{% url 'two_factor:profile'%}"
       class="float-right btn btn-link">{% trans "بازگشت به صفحه امنیت حساب کاربری" %}</a>
    <button class="btn btn-primary" type="submit">{% trans "ایجاد رمز دوم جایگزین" %}</button>
  </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
