{% extends "base.html" %}
{% load i18n %}

{% block extra_media %}
  {{ form.media }}
{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-body">
          <h1>{% block title %}{% trans "فعال سازی تایید دو مرحله ای" %}{% endblock %}</h1>
          {% if wizard.steps.current == 'welcome' %}
            <p>{% blocktrans trimmed %}شما در شرف انتقال امنیت حساب خود به مرحله بالاتر هستید برای فعال کردن تایید دومرحله ای لطفا مراحل را دنبال کنید.{% endblocktrans %}</p>
          {% elif wizard.steps.current == 'method' %}
            <p>{% blocktrans trimmed %}لطفا احراز هوویت مورد نظر خود را انتخاب کنید.{% endblocktrans %}</p>
          {% elif wizard.steps.current == 'generator' %}
            <p>{% blocktrans trimmed %}برای شروع استفاده از ایجاد کننده رمز دوم لطفا از طریق گوشی هوشمند خود  بارکد زیر را اسکن کنید.{% endblocktrans %}</p>
            <p><img src="{{ QR_URL }}" alt="QR Code" class="bg-white"/></p>
            <p>{% blocktrans trimmed %}همچنین در صورت عدم امکان اسکن بارکد میتواند از رمز زیر برای تنظیم دستی احراز هویت استفاده کنید.{% endblocktrans %}</p>
            <p>{% translate "رمز عبور:" %} <a href="{{ otpauth_url }}">{{ secret_key }}</a></p>
            <p>{% blocktrans %}سپس، توکن تولید شده توسط برنامه را وارد کنید.{% endblocktrans %}</p>

          {% elif wizard.steps.current == 'sms' %}
            <p>{% blocktrans trimmed %}Please enter the phone number you wish to receive the
              text messages on. This number will be validated in the next step.
              {% endblocktrans %}</p>
          {% elif wizard.steps.current == 'call' %}
            <p>{% blocktrans trimmed %}Please enter the phone number you wish to be called on.
              This number will be validated in the next step. {% endblocktrans %}</p>
          {% elif wizard.steps.current == 'validation' %}
            {% if challenge_succeeded %}
              {% if device.method == 'call' %}
                <p>{% blocktrans trimmed %}We are calling your phone right now, please enter the
                  digits you hear.{% endblocktrans %}</p>
              {% elif device.method == 'sms' %}
                <p>{% blocktrans trimmed %}We sent you a text message, please enter the tokens we
                  sent.{% endblocktrans %}</p>
              {% endif %}
            {% else %}
              <p class="alert alert-warning" role="alert">{% blocktrans trimmed %}We've
                encountered an issue with the selected authentication method. Please
                go back and verify that you entered your information correctly, try
                again, or use a different authentication method instead. If the issue
                persists, contact the site administrator.{% endblocktrans %}</p>
            {% endif %}
          {% elif wizard.steps.current == 'yubikey' %}
            <p>{% blocktrans trimmed %}To identify and verify your YubiKey, please insert a
              token in the field below. Your YubiKey will be linked to your
              account.{% endblocktrans %}</p>
          {% endif %}

          <form action="" method="post">{% csrf_token %}
            {% include "two_factor/_wizard_forms.html" %}

            {# hidden submit button to enable [enter] key #}
            <input type="submit" value="" hidden />

            {% include "two_factor/_wizard_actions.html" %}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
