{% extends 'base_list.html' %}
{% block title %}لیست تامین کنندگان{% endblock %}
{%block list_title%}لیست تامین کنندگان{%endblock%}
{%block filter_field%}

<div class="col-sm-6">
  <label for="id_id" class="form-label">Id</label>
  <input  class="form-control" type="number" name="id" step="any" id="id_id"value="{{ request.GET.id }}" >
</div>

<div class="col-sm-6">
  <label for="name" class="form-label">نام</label>
  <input  class="form-control" type="text" name="name" step="any" id="name" value="{{ request.GET.name }}" >
</div>

<div class="col-sm-6">
  <label for="contact_person" class="form-label">نام واسط</label>
  <input  class="form-control" type="text" name="contact_person" step="any" id="contact_person" value="{{ request.GET.contact_person }}" >
</div>


<div class="col-sm-6">
  <label for="email" class="form-label">ایمیل تامین کننده</label>
  <input  class="form-control" type="text" name="email" step="any" id="email" value="{{ request.GET.email }}" >
</div>


<div class="col-sm-6">
  <label for="created_by_email" class="form-label">ایمیل ایجاد کننده
  </label>
  <input  class="form-control" type="text" name="created_by_email" step="any" id="created_by_email" value="{{ request.GET.created_by_email }}" >
</div>

<div class="col-sm-6">
  <label for="date" class="form-label">تاریخ</label>
  <input  class="form-control" type="date" name="date" step="any" id="date" value="{{ request.GET.date }}" >
</div>

<div class="col-sm-6">
  <label for="date_range">محدوده زمانی</label>
  <select class="form-select" name="date_range" id="date_range">
    <option value="" selected>---------</option>
    <option value="today">امروز</option>
    <option value="this_week">هفته گذشته</option>
    <option value="this_month">ماه گذشته</option>
  </select>
</div>
{%endblock%}
{%block buttons%} 

<form action="{% url 'consumable:delete_selected_supplier' %}" method="post" id="deleteForm">
  {% csrf_token %}
  {% if perms.consumable.add_supplier%}
<a href="{% url 'consumable:supplier_create' %}" class="btn btn-success">افزودن تامین کننده</a>
{%endif%}
{% if perms.accounts.view_reports%}
<a href="{% url 'reports:supplier_reports'%}" class="btn btn-success me-2">گزارشات</a>
{%endif%}
{% if perms.consumable.delete_supplier%}
<button type="button" class="btn btn-success me-2" id="confirmDeleteBtn" style="display: none;">حذف</button> <!-- Delete button -->
{%endif%}
{%endblock%}
{%block thead%}

<th scope="col"><input type="checkbox" id="selectAll"></th>
<th scope="col">ID</th>
<th scope="col">نام</th>
<th scope="col">نام واسط</th>
<th scope="col">تامین کننده</th>
<th scope="col">اکشن ها</th>

{%endblock%}
{%block tbody%}
{%for i in supplier%}
<tr class="fw-normal">       
  <td><input type="checkbox" name="supplier_ids" value="{{ i.id }}" class="-checkbox"></td> <!-- Checkbox -->
  <td class="align-middle">
    <span>{{i.id}}</span>
  </td>
  <td class="align-middle">
    <span>{{i.name}}</span>
  </td>
  <td class="align-middle">
    <span> {{i.contact_person}} </span>
  </td>
  <td class="align-middle">
      <span>{{i.email}}</span>
    </td>

  <td class="align-middle">
    <a href="{%url 'consumable:supplier_detail' i.id %}" data-mdb-toggle="tooltip" title="جزییات"> <i class="fas fa-info-circle"></i></a>
    {% if perms.consumable.change_supplier%}
    <a href="{%url 'consumable:supplier_update' i.id %}" data-mdb-toggle="tooltip" title="ویرایش"><i class="fas fa-edit" ></i></a>
  {%endif%}
  </td>
</tr>
{%endfor%}
<script>
  // JavaScript for Select All functionality
  document.getElementById('selectAll').addEventListener('change', function() {
      var checkboxes = document.querySelectorAll('.-checkbox');
      for (var checkbox of checkboxes) {
        checkbox.checked = this.checked;
      }
    });
  
    // Show/Hide Delete Button based on checkbox selection
    var checkboxes = document.querySelectorAll('.-checkbox');
    for (var checkbox of checkboxes) {
      checkbox.addEventListener('change', function() {
        var anyChecked = Array.from(checkboxes).some(cb => cb.checked);
        document.getElementById('confirmDeleteBtn').style.display = anyChecked ? 'block' : 'none';
      });
    }
  
    // Initial check to show/hide the delete button
    var anyChecked = Array.from(checkboxes).some(cb => cb.checked);
    document.getElementById('confirmDeleteBtn').style.display = anyChecked ? 'block' : 'none';
  </script>
  
{%endblock%}
{%block delete_content%}
موارد انتخاب شده به طور کامل از سیستم حذف می شوند
{%endblock%}