{%extends 'base_update.html' %}
{%block title %}ویرایش تامین کننده {{object}}{%endblock%}
{%block form_title %}ویرایش تامین کننده {{object}}{%endblock%}
{%block fields %} 

<div class="col-sm-6">
<label for="name" class="form-label">نام تامین کننده</label>
<input type="text" class="form-control" id="name" placeholder="" value="{{object.name}}" name="name" >
</div>

<div class="col-sm-6">
<label for="contact_person" class="form-label">نام واسط</label>
<input type="text" class="form-control" id="contact_person" placeholder="" value="{{object.contact_person}}" name="contact_person" >
</div>

<div class="col-sm-6">
<label for="email" class="form-label">ایمیل</label>
<input type="text" class="form-control" id="email" placeholder="" value="{{object.email}}" name="email" >
</div>

<div class="col-sm-6">
<label for="phone_number" class="form-label">شماره همراه</label>
<input type="text" class="form-control" id="phone_number" placeholder="" value="{{object.phone_number}}" name="phone_number" >
</div>

<div class="col-sm-6">
<label for="address" class="form-label">آدرس</label>
<input type="text" class="form-control" id="address" placeholder="" value="{{object.address}}" name="address" >
</div>

<div class="col-sm-6">
<label for="city" class="form-label">شهر</label>
<input type="text" class="form-control" id="city" placeholder="" value="{{object.city}}" name="city" >
</div>

<div class="col-sm-6">
<label for="notes" class="form-label">یادداشت</label>
<input type="text" class="form-control" id="notes" placeholder="" value="{{object.notes}}" name="notes" >
</div>

{%endblock%}