{%extends 'base.html' %}
{%block title %}مدیریت دسترسی های {{object}}{%endblock%}

{%block content %} 
   
<div class="container">
    <main>
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-todo-list/check1.webp" alt="" width="62" height="47">
        <h2> مدیریت دسترسی های {{object}}</h2>
      </div>

        <div class="col-md-7 col-lg-8">
          <h4 class="mb-3">اطلاعات</h4>
          <form class="needs-validation" method="post">
            {%csrf_token%}
            <div class="row g-3">
               
                              <div class=" w-100 col-sm-6">
                                <label for="user_permissions">دسترسی ها:</label>
                                <select class="form-select" name="user_permissions" required="" id="user_permissions" multiple>
                                    <option value="">---------</option>
                                    {% for i in form.user_permissions.field.queryset %}
                                        {% if i in object.user_permissions.all %}
                                            <option value="{{ i.id }}" selected>{{ i }}</option>
                                        {% else %}
                                        <option value="{{ i.id }}">{{ i }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
            <button class="w-100 btn btn-lg btn-outline-success" type="submit">ویرایش</button>
          </form>
        </div>
      </div>
      <br><br>
      <br><br>

    </main>
</div>

{%endblock%}