{% extends 'base.html' %}
    {%block title %}جزییات صورتحساب {{object}}{%endblock%}
{%block content%}


<div class="container" style="padding-bottom: 10%;">
<div class="container mt-4">
    <h2>جزییات صورتحساب {{ object }}</h2>
    <br>

    <!-- Card for basic service details -->
    <div class="card mb-4">
        <div class="card-body">
            <div class="card-text">
                <div class="card-header"><strong>
                     اطلاعات صورتحساب
             </strong>  </div>
              <p class="card-text"><strong>شماره صورتحساب:</strong>{{object.id}}</p>
              <hr>
              <p class="card-text"><strong> شماره پذیرش:</strong>{{object.reception.id}}</p>
              <hr>
              <p class="card-text"><strong>نام بیمار:</strong>{{client.get_full_name}}</p>
              <hr>
              <p class="card-text"><strong>وضعیت پرداخت:</strong>{{object.payment_status}}</p>
              <hr>
          </div>
          </div>
        </div>

    
        <!-- Buttons to change status, priority, add comment, etc. -->
        <div class="card mb-4">
            <div class="card-body">
                <div class="card-text">
            <a href="{% url 'financial:invoice' object.id%}" class="btn btn-success me-2">نمایش صورتحساب</a>
            {% if object.payment_status != "پرداخت شده" %}
            <a href="#" data-toggle="modal" data-target="#UpdateModal"  class="btn btn-success me-2" >تغییر وضعیت به پرداخت شده</a>
            {%endif%}
            <a href="{% url 'financial:update' object.id%}" class="btn btn-success me-2">ویرایش</a>
            <a href="{% url 'client:detail' client.id%}" class="btn btn-success me-2">مشاهده بیمار</a>
            <a href="{% url 'reception:detail' object.reception.id%}" class="btn btn-success me-2">مشاهده صفحه پذیرش</a>
            <a href="#" data-toggle="modal" data-target="#exampleModal"  class="btn btn-success me-2" title="Delete" >حذف</a>
        </div>
</div>
      </div>
</div>
      <!-- DELETE MODALS -->
      <div class="modal fade" id="UpdateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">تایید</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
             تغییر وضعیت به پرداخت شده انجام شود؟
            </div>
            <div class="modal-footer">
              <a class="btn btn-primary" href="{% url 'financial:update_payment_status' pk=object.pk %}" class="btn">تایید</a>
          </div>
          </div>
        </div>
      </div>

            <!-- UPDATE PAYMENT STATUS MODALS -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">تایید حذف</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    از حذف این صورتحساب مطمین هستید ؟
                  </div>
                  <div class="modal-footer">
                    <a class="btn btn-primary" href="{% url 'financial:delete' pk=object.pk %}" class="btn">حذف</a>
                </div>
                </div>
              </div>
            </div>
</div>
    <!-- jQuery (needed for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{%endblock%}